/**********************************/
/*  ARMORS-THROWABLES-DEPLOYABLES */
/**********************************/

.arm_icon,
.th_icon, 
.dp_icon {
  display: inline-block; 
  cursor: pointer; 
}

.arm_icon > div,
.th_icon > div, 
.dp_icon > div {
  position: relative;
  z-index: -1;
  min-width: 256px;
  min-height: 256px;
  border: 3px solid transparent; 
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  background-repeat: no-repeat; 
  background-position: center center; 
}

.th_icon > div {
  min-height: 128px; 
}

.arm_icon > div,
.th_icon > div {
  transform: scale(0.65);
}

.dp_icon > div {
  transform: scale(0.85);
}  

.arm_icon:not(.arm_locked):hover > div,
.th_icon:not(.th_locked):hover > div {
  transform: scale(0.85);
}

.dp_icon:not(.dp_locked):hover > div {
  transform: scale(1);
}

.arm_icon.arm_locked, 
.th_icon.th_locked, 
.dp_icon.dp_locked {
  background: url("/img/lock_skill.png") no-repeat center center;
}

.arm_icon.arm_locked > div,
.th_icon.th_locked > div,
.dp_icon.dp_locked > div {
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2);
}

.arm_icon.arm_selected > div,
.th_icon.th_selected > div,
.dp_icon.dp_selected > div,
.dp_icon.dp_primary > div, 
.dp_icon.dp_secondary > div {
  border: 3px solid rgb(240, 240, 240); 
}

.arm_icon.arm_selected > div,
.th_icon.th_selected > div {
  transform: scale(0.85);
}

.dp_icon.dp_selected > div,
.dp_icon.dp_primary > div, 
.dp_icon.dp_secondary > div {
  transform: scale(1);
}

.arm_icon.arm_selected > div::before,
.th_icon.th_selected > div::before,
.dp_icon.dp_selected > div::before,
.dp_icon.dp_primary > div::before,
.dp_icon.dp_secondary > div::before {
  font-size: 16pt; 

  position: absolute; 
  top: 10px;
  left: 10px;
}

.arm_icon.arm_selected > div::before,
.th_icon.th_selected > div::before,
.dp_icon.dp_selected > div::before {
  content: 'EQUIP.'; 
}

.dp_icon.dp_primary > div::before {
  content: 'PRIMARY'; 
}

.dp_icon.dp_secondary > div::before {
  content: 'SECONDARY'; 
}


#io_other_t,
#io_save_r {
  padding: 50px 25px; 
}

.io_text_block {
  line-height: 1.1em; 
}

#io_share_link {
  -webkit-transition: background-color .5s ease;
  -moz-transition:    background-color .5s ease;
  -o-transition:      background-color .5s ease;
  transition:         background-color .5s ease;
}

#io_share_link.io_link_flash {
  background-color: rgb(130, 255, 130); 

  -webkit-transition: background-color .01s ease;
  -moz-transition:    background-color .01s ease;
  -o-transition:      background-color .01s ease;
  transition:         background-color .01s ease;
}

.io_widgets {
  display: flex; 
}

.io_widgets > iframe,
.io_widgets > a {
  margin: 0 10px;
}


/**********************************/
/*          ARMOR IMAGES          */
/**********************************/

#suit {
  background: url("/img/armors/suit.png"); 
}

#light_ballistic {
  background: url("/img/armors/light_ballistic.png"); 
}

#ballistic {
  background: url("/img/armors/ballistic.png"); 
}

#heavy_ballistic {
  background: url("/img/armors/heavy_ballistic.png"); 
}

#flak {
  background: url("/img/armors/flak.png"); 
}

#ctv {
  background: url("/img/armors/ctv.png"); 
}

#ictv {
  background: url("/img/armors/ictv.png"); 
}


/**********************************/
/*       THROWABLES IMAGES        */
/**********************************/

#matryoshka_grenade {
  background-image: url("/img/throwables/matryushka_grenade.png"); 
}

#incendiary_grenade {
  background-image: url("/img/throwables/incendiary_grenade.png"); 
}

#hef_grenade {
  background-image: url("/img/throwables/hef_frag_grenade.png"); 
}

#ace_of_spades {
  background-image: url("/img/throwables/ace_of_spades.png"); 
}

#concussion_grenade {
  background-image: url("/img/throwables/concussion_grenade.png"); 
}

#frag_grenade {
  background-image: url("/img/throwables/frag_grenade.png"); 
}

#molotov_cocktail {
  background-image: url("/img/throwables/molotov.png"); 
}

#dynamite {
  background-image: url("/img/throwables/dynamite.png"); 
}

#shuriken {
  background-image: url("/img/throwables/shuriken.png"); 
}

#javelin {
  background-image: url("/img/throwables/javelin.png"); 
}

#throwing_knife {
  background-image: url("/img/throwables/throwing_knife.png"); 
}

#throwing_axe {
  background-image: url("/img/throwables/throwing_axe.png"); 
}

#stoic_hip_flask {
  background-image: url("/img/throwables/stoic_hip_flask.png"); 
}

#pocket_ecm_device {
  background-image: url("/img/throwables/pocket_ecm.png"); 
}

#smoke_bomb {
  background-image: url("/img/throwables/smoke_bomb.png"); 
}

#gas_dispenser {
  background-image: url("/img/throwables/gas_dispenser.png"); 
}

#injector {
  background-image: url("/img/throwables/injector.png"); 
}


/**********************************/
/*       DEPLOYABLES IMAGES       */
/**********************************/

#ammo_bag {
  background-image: url("/img/deployables/ammo_bag.png"); 
}

#armor_bag {
  background-image: url("/img/deployables/armor_kit.png"); 
}

#body_bag_case {
  background-image: url("/img/deployables/bodybags_bag.png"); 
}

#doctor_bag {
  background-image: url("/img/deployables/doctor_bag.png"); 
}

#ecm_jammer {
  background-image: url("/img/deployables/ecm_jammer.png"); 
}

#first_aid_kit {
  background-image: url("/img/deployables/first_aid_kit.png"); 
}

#sentry_gun {
  background-image: url("/img/deployables/sentry_gun.png"); 
}

#suppressed_sentry_gun {
  background-image: url("/img/deployables/sentry_gun_silent.png"); 
}

#trip_mine_and_shaped_charges {
  background-image: url("/img/deployables/trip_mine.png"); 
}