/**********************************/
/*            ARMORS CSS          */
/**********************************/

.arm_icon {
  display: inline-block; 
}

.arm_icon > div {
  position: relative;
  z-index: -1;
  min-width: 256px;
  min-height: 256px;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transform: scale(0.65);
}

.arm_icon:not(.arm_locked):hover > div {
  transform: scale(0.85);
}

.arm_icon.arm_locked {
  background: url("/img/lock_skill.png") no-repeat center center;
}

.arm_icon.arm_locked > div {
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2);
}

.arm_icon.arm_selected > div {
  transform: scale(0.85);
  border: 3px solid rgb(240, 240, 240); 
}

.arm_icon.arm_selected > div::before {
  content: 'EQUIP.'; 
  font-size: 16pt; 

  position: absolute; 
  top: 10px;
  left: 10px;
}



/**********************************/
/*          ARMOR IMAGES          */
/**********************************/

#suit {
  background: url("/img/armors/suit.png") no-repeat center; 
}

#light_ballistic {
  background: url("/img/armors/light_ballistic.png") no-repeat center; 
}

#ballistic {
  background: url("/img/armors/ballistic.png") no-repeat center; 
}

#heavy_ballistic {
  background: url("/img/armors/heavy_ballistic.png") no-repeat center; 
}

#flak {
  background: url("/img/armors/flak.png") no-repeat center; 
}

#ctv {
  background: url("/img/armors/ctv.png") no-repeat center; 
}

#ictv {
  background: url("/img/armors/ictv.png") no-repeat center; 
}