/**********************************/
/*         CALCULATOR CSS         */
/**********************************/

body {
  background: rgb(11, 11, 21) url("/img/bg.png"); 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01); /* Font "antialiasing" */
  color: rgb(140, 140, 140); 
}

body > div {
  font-family: "DINEngschrift"; 
  font-size: 3.8em; 
}

span.special_char {
  font-family: 'Courier New', Courier, monospace; /* suggest a default font for characters or find the full pd2 set */
}


#selector {
  width: 95vw;
  height: 95vh;
  
  margin: 20px auto; 
  text-align: center; 
}

#selector > .row {
  margin: 10px auto; 
}

.hydrogen,
.element, 
.pressure {
  margin: auto; 
  
  border: 4px solid rgb(180, 180, 180); 
}

.hydrogen > div,
.element > div, 
.pressure > div {
  width: 100%; 
  margin: 3px; 
  border: 3px solid rgb(140, 140, 140);  
}

.hydrogen > div:hover,
.element > div:hover,
.pressure > div:hover,
.selected.col {
  border-color: rgb(240, 240, 240); 
  color: rgb(240, 240, 240); 
}


.result {
  margin: 10% 0; 
}

.engine {
  color: #333;
}

.engine.active {
  color: rgb(240, 240, 240); 
}