/**********************************/
/*           GENERAL CSS          */
/**********************************/

html {
  /**
    * I can finally use em like a real man 
    * This constraints the font size from a minimum to a maximum (floor and ceiling cap)
    * Parameters are: max font size - min font size, and min-max viewport width to use the max font sizes at 
    */
  font-size: calc(12px + (26 - 12) * ((100vw - 300px) / (1000 - 300)));
  
  box-sizing: border-box; 
  overflow-x: hidden;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*,
::after,
::before {
  box-sizing: border-box; 
}

* {
  outline: none !important;
}

button { 
  margin: 0; 

  font-size: inherit; 
  font-family: inherit; 
  line-height: inherit; 
  text-transform: none;
}

body {
  background: rgb(11, 11, 21) url("../img/bg.png"); 
  margin: 0; 
  overflow-x: hidden;
  
  font-family: 'Noto Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01); /* Font "antialiasing" */
  color: rgb(240, 240, 240); 
  line-height: 1.5; 
}

body > div {
  font-family: "DINEngschrift", "Noto Sans", sans-serif; 
}


/**********************************/
/*        HEADER AND FOOTER       */
/**********************************/

div.navbar {
  position: relative; 
  display: flex; 
  flex-flow: row nowrap; 
  align-items: center;

  max-height: 60px; 

  font-family: "Noto Sans", sans-serif; 

  background-color: rgb(50, 55, 60); 
  padding: 1vh 3vw; 
}

@media only screen and (max-width: 1002px) { 
  div.navbar {
    justify-content: space-between; 
  }
}

@media only screen and (min-width: 1003px) { 
  div.navbar {
    justify-content: space-around; 
  }
}

div.navbar a {
  font-size: 1.1em; 
  line-height: 2em; 
  text-decoration: none; 
  background-color: transparent; 
  color: rgb(240, 240, 240);  
}

div.navbar a:hover {
  cursor: pointer; 
}

div.navbar a:visited {
  color: rgb(240, 240, 240); 
}

/* Small screens, have navbar collapse */ 
@media only screen and (max-width: 767px) { 
  div.navbar button {
    height: 80%; 
    margin: auto 0;

    background-color: transparent; 

    outline: none; 
    border: 1px solid rgb(80, 85, 90); 
    border-radius: 5px; 
    cursor: pointer;
  }

  div.navbar button > span {
    display: inline-block;
    vertical-align: middle;
    
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(130, 135, 140, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    width: 1.5em;
    height: 1.5em; 
  }

  div.navbar .navbar-dropdown {
    max-height: 0;
    overflow: hidden;
    background-color: rgb(50, 55, 60); 
    
    position: absolute; 
    z-index: 2001; 
    top: 100%; 
    left: 50%; 
  
    width: 100%; 
    transform: translate(-50%, 0); 
    transition: max-height 0.3s ease;
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; 
  }
  
  div.navbar button:focus + .navbar-dropdown, 
  div.navbar button:hover + .navbar-dropdown {
    max-height: 20em; 
  }
}

/* Large screens (or landscape mode), have navbar expand */ 
@media only screen and (min-width: 768px) {
  div.navbar button {
    display: none; 
  }

  div.navbar button > span {
    display: none;
  }

  div.navbar .navbar-dropdown {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center; 
    align-items: center; 
  }

  div.navbar .navbar-dropdown > div:not(:last-of-type) {
    margin-right: 25px; 
  }
}

div.navbar .navbar-dropdown > div {
  padding: 5px 0; 

  display: flex; 
  flex-flow: row nowrap;
  justify-content: center; 
  align-items: center; 
}

div.navbar .navbar-dropdown a {
  font-size: 0.8em; 
}

div.navbar .navbar-dropdown a:not(.current) {
  color: rgba(240, 240, 240, 0.5); 
}

div.navbar .navbar-dropdown a:not(.current):active,
div.navbar .navbar-dropdown a:not(.current):hover {
  color: rgba(240, 240, 240, 0.75); 
}

select {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 154px; 
  height: 30px; 
  padding: 2px 8px;
  outline: none;
  color: rgb(40, 40, 40);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px rgb(215, 220, 225);
  background: rgb(215, 220, 225) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='25' viewBox='0 0 38 48'><path d='M0,12 l25,25 l25,-25' fill='none' stroke='black' stroke-width='5'/%3E%3C/svg%3E") 95% / 15% no-repeat;  
}


.color_number {
  color: rgb(50, 190, 255); 
}

.bordered {
  padding: 20px;

  background:
    linear-gradient(to right, rgb(215, 220, 225) 3px, transparent 3px) 0 0,
    linear-gradient(to right, rgb(215, 220, 225) 3px, transparent 3px) 0 100%,
    linear-gradient(to left, rgb(215, 220, 225) 3px, transparent 3px) 100% 0,
    linear-gradient(to left, rgb(215, 220, 225) 3px, transparent 3px) 100% 100%,
    linear-gradient(to bottom, rgb(215, 220, 225) 3px, transparent 3px) 0 0,
    linear-gradient(to bottom, rgb(215, 220, 225) 3px, transparent 3px) 100% 0,
    linear-gradient(to top, rgb(215, 220, 225) 3px, transparent 3px) 0 100%,
    linear-gradient(to top, rgb(215, 220, 225) 3px, transparent 3px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 15px 15px;
}

#loading_spinner {
  position: fixed;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

#loading_spinner > div {
  width: 5em;
  height: 5em;
  border: 0.3em solid;
  border-radius: 80%;
  animation: 1s spin, 2.3s color, 1.7s width;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin { 
  to { 
    transform: rotate(1turn); 
  } 
}
@keyframes color {
  0% {
    border-color: transparent transparent transparent #57a6ff;
  }
  25% {
    border-color: #6d83ac transparent transparent transparent;
  }
  50% {
    border-color: transparent #4f51a3 transparent transparent;
  }
  75% {
    border-color: transparent transparent #8d5dfc transparent;
  }
  100% {
    border-color: transparent transparent transparent #57a6ff;
  }
}
@keyframes width {
  50% {
    border-width: 0.13em;
  }
}


/**********************************/
/*          TAB PAGE CSS          */
/**********************************/

#tab_page_buttons button {
  position: relative; 
  padding: 1vh 2vw; 

  border: 1px solid rgb(240, 240, 240); 
  border-right: none; /* "border collapse"-style fix */ 

  background: rgba(0, 0, 0, 0); 
  color: rgb(40, 90, 130);   
  text-align: center;
  white-space: nowrap;

  -webkit-transition: box-shadow .15s, color .15s linear;
  -moz-transition:    box-shadow .15s, color .15s linear;
  -o-transition:      box-shadow .15s, color .15s linear;
  transition:         box-shadow .15s, color .15s linear;
}

#tab_page_buttons button:first-of-type {
  border-radius: 10px 0 0 10px; 
}

#tab_page_buttons button:last-of-type {
  border-radius: 0 10px 10px 0; 
  border-right: 1px solid rgb(240, 240, 240); 
}

#tab_page_buttons button.tab_selected {
  color: rgb(240, 240, 240); 
  
  -webkit-box-shadow: inset 0px 0px 0px 2px rgb(240, 240, 240); 
  -moz-box-shadow: inset 0px 0px 0px 2px rgb(240, 240, 240); 
  box-shadow: inset 0px 0px 0px 2px rgb(240, 240, 240); 
}

#tab_page_buttons::-webkit-scrollbar {
  display: none; 
}

#tab_page_buttons {
  scrollbar-width: none;
}


/**********************************/
/*            SKILLS CSS          */
/**********************************/

#sk_container_l {
  position: relative; 
  width: 100%; 
  padding: 0 10px; 

  border-image: url("../img/borders/skill_border.png") 3 15 repeat;
  border-top: 3px solid transparent; 
  border-bottom: 3px solid transparent; 
}

#sk_container_l::before,
#sk_container_l::after,
#sk_container_r::before,
#sk_container_r::after {
  content: ""; 
  position: absolute; 
  height: 15px; 
  width: 3px;  
}

#sk_container_l::before {
  top: 0; 
  left: 0; 
  background: url("../img/borders/corner-topleft.png") no-repeat; 
}
 
#sk_container_l::after {
  bottom: 0; 
  left: 0; 
  background: url("../img/borders/corner-bottomleft.png") no-repeat; 
}

#sk_container_r::before {
  top: 0; 
  right: 0; 
  background: url("../img/borders/corner-topright.png") no-repeat; 
}

#sk_container_r::after {
  bottom: 0; 
  right: 0; 
  background: url("../img/borders/corner-bottomright.png") no-repeat; 
}


.sk_tier > div {
  position: relative; 

  display: flex; 
  flex-flow: column nowrap; 
  justify-content: center;  
  align-items: center; 

  width: 100%; 
  height: 100%; 
}

.sk_icon {
  display: flex; 
  flex-flow: column nowrap; 
  justify-content: space-around;  

  background-position: center center; 
}

.sk_icon > div {
  position: relative; 
  display: block; 
  z-index: 1200; 

  background: url("../img/skills/icons_atlas.png") 0 0 no-repeat;
  background-size: 1200% 1300%; 
  opacity: 0.2; 

  width: 100%;
  height: 0;
  padding-bottom: 100%;

  -webkit-transition: opacity .2s ease, transform .2s ease, -webkit-filter .2s ease, filter .2s ease;
  -moz-transition:    opacity .2s ease, transform .2s ease, -webkit-filter .2s ease, filter .2s ease;
  -o-transition:      opacity .2s ease, transform .2s ease, -webkit-filter .2s ease, filter .2s ease;
  transition:         opacity .2s ease, transform .2s ease, -webkit-filter .2s ease, filter .2s ease;
}

.sk_icon.sk_locked, 
.sk_icon.sk_selected_aced {
  background-position: center center; 
  background-repeat: no-repeat; 
}

.sk_icon.sk_locked {
  background-image: url("../img/skills/padlock.png");
  background-size: 50%; 
}

.sk_icon.sk_selected_aced {
  background-image: url("../img/skills/ace.png");
  background-size: 125%; 
}

.sk_icon.sk_invalid > div {
  filter: hue-rotate(180deg);
  -webkit-filter: hue-rotate(180deg);
}

.sk_icon.sk_invalid + .sk_name {
  color: #FF4751;
}

.sk_icon.sk_selected_basic > div,
.sk_icon.sk_selected_aced > div {
  opacity: 1; 
}


/**********************************/
/*         PERK DECKS CSS         */
/**********************************/

.pk_deck {
  display: flex; 
  flex-flow: column nowrap; 
  justify-content: flex-start;
  align-items: center; 

  width: 100%; 
  padding: 5px; 

  border: 2px solid transparent; 
}

.pk_deck.pk_selected {
  border: 2px solid rgb(240, 240, 240); 
}

.pk_deck.pk_deck_dim {
  opacity: 0.6;  
}

.pk_preview {
  width: 100%; 

  display: flex; 
  flex-flow: row nowrap; 
  justify-content: flex-start; 
  align-items: center; 
}

.pk_deck_cards {
  width: 100%; 

  display: flex; 
  flex-flow: row nowrap; 
  align-items: center; 
}



/**********************************/
/*         ARMOR-TH-DP CSS        */
/**********************************/

#arm_page, 
#th_page, 
#dp_page {
  display: flex; 
  flex-flow: row wrap; 
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start; 
}

.arm_icon, 
.th_icon, 
.dp_icon {
  cursor: pointer; 

  display: flex; 
  flex-flow: row nowrap; 
  justify-content: center;
  
  flex-basis: 50%; 
  width: 50%; 

  border: 3px solid transparent; 
}

.arm_icon,
.dp_icon {  
  max-width: 256px; 
}

.arm_icon > div, 
.th_icon > div, 
.dp_icon > div {
  position: relative;
  display: block; 
  z-index: -1;
  
  width: 100%; 
  height: 0; 
  padding-bottom: 100%; 

  background-size: 100%; 
  background-repeat: no-repeat; 
  background-position: center center; 

  -webkit-transition: transform .2s ease;
  -moz-transition: transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
}

.arm_icon > div {
  transform: scale(0.85); 
}

.th_icon > div {
  transform: scale(1); 
}

.dp_icon > div {
  transform: scale(0.7); 
}

.arm_icon.arm_selected,
.th_icon.th_selected, 
.dp_icon.dp_selected,
.dp_icon.dp_primary,
.dp_icon.dp_secondary {
  border: 3px solid rgb(240, 240, 240); 
}

.arm_icon.arm_locked,
.th_icon.th_locked, 
.dp_icon.dp_locked {
  background: url("../img/lock_skill.png") no-repeat center center;
}

.arm_icon.arm_locked > div,
.th_icon.th_locked > div, 
.dp_icon.dp_locked > div {
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2);
}

.arm_icon.arm_selected > div {
  transform: scale(1); 
}

.th_icon.th_selected > div {
  transform: scale(1.15); 
}

.dp_icon.dp_selected > div,
.dp_icon.dp_primary > div,
.dp_icon.dp_secondary > div {
  transform: scale(0.85); 
}

.arm_icon.arm_selected > div::before {
  position: absolute; 
  top: 10%;
  left: 10%;
}

.th_icon.th_selected > div::before {
  position: absolute; 
  top: 15%;
  left: 15%;
}

.dp_icon.dp_selected > div::before,
.dp_icon.dp_primary > div::before,
.dp_icon.dp_secondary > div::before {
  position: absolute; 
  top: 5%;
  left: 5%;
}

.arm_icon.arm_selected > div::before,
.th_icon.th_selected > div::before, 
.dp_icon.dp_selected > div::before {
  content: attr(data-equip);
}

.dp_icon.dp_primary > div::before {
  content: attr(data-primary);
}

.dp_icon.dp_secondary > div::before {
  content: attr(data-secondary);
}


/**********************************/
/*       PRIMARY WEAPON CSS       */
/**********************************/

#pr_page {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

#primary_search,
#primary_select {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 230px;
}


/**********************************/
/*          SAVE/LOAD CSS         */
/**********************************/

#tab_io_page > div {
  align-items: flex-start;  
}

#io_other {
  display: flex; 
  flex-flow: column nowrap; 
  justify-content: center; 
  align-items: flex-start;
}

#io_other p:last-of-type {
  align-self: center; 
}

#io_share_link {
  -webkit-transition: background-color .5s ease;
  -moz-transition:    background-color .5s ease;
  -o-transition:      background-color .5s ease;
  transition:         background-color .5s ease;
}

#io_share_link.io_link_flash {
  background-color: rgb(130, 255, 130); 

  -webkit-transition: background-color .01s ease;
  -moz-transition:    background-color .01s ease;
  -o-transition:      background-color .01s ease;
  transition:         background-color .01s ease;
}

.share-url-group {
  display: flex; 
  flex-flow: row nowrap; 
  justify-content: center; 
  align-items: baseline; 

  width: 100%; 

  color: rgb(0, 0, 0); 
}

.share-url-group span, 
.share-url-group input, 
.share-url-group button {
  border: 2px solid rgb(240, 240, 240); 
  border-color: rgb(130, 135, 140); 

  padding: 10px; 

  display: flex; 
  flex-flow: row nowrap; 
  justify-content: center; 
}

.share-url-group span,
.share-url-group button {
  background-color: rgb(240, 240, 240); 
}

.share-url-group span {
  width: 15%; 
  flex-basis: 15%; 

  border-right: none; /* "border collapse"-style fix */
  border-radius: 5px 0 0 5px; 
}

.share-url-group input {
  position: relative; 
  
  border-left: none; 
  border-right: none; 

  align-self: stretch; 
 
  /** Width and flex-basis 1% may look weird but it's a starting point, then flex-grow 1 stretches them out to fill the available space,
   *  after the span and button have taken their share. Means that it's gonna shrink to that if needed to resize for the resolution. 
   */
  width: 1%; 
  flex: 1 1 1%;  
}

.share-url-group input:focus::after,
.share-url-group input:active::after {
  content: ""; 
  position: absolute; 
  
  top: 0; 
  left: 0; 

  width: 100%; 
  height: 100%; 

  outline: 2px solid rgba(50, 190, 255, 0.7); 
}

.share-url-group button {
  cursor: pointer; 

  flex-basis: 25%; 

  border-left: none;
  border-radius: 0 5px 5px 0; 
  
  text-align: center;
  white-space: nowrap;

  -webkit-transition: background-color .1s ease;
  -moz-transition:    background-color .1s ease;
  -o-transition:      background-color .1s ease;
  transition:         background-color .1s ease;
}

.share-url-group button:hover {
  background-color: rgb(185, 190, 190); 
}

#io_share_link {
  -webkit-transition: background-color .5s ease;
  -moz-transition:    background-color .5s ease;
  -o-transition:      background-color .5s ease;
  transition:         background-color .5s ease;
}

#io_share_link.io_link_flash {
  background-color: rgb(130, 255, 130); 

  -webkit-transition: background-color .01s ease;
  -moz-transition:    background-color .01s ease;
  -o-transition:      background-color .01s ease;
  transition:         background-color .01s ease;
}

#io_share_button {
  background-color: rgb(0, 155, 0);
  border: 2px solid rgb(130, 135, 140);

  text-align: center;

  width: 25%;
  margin: auto;
  margin-top: 2vh;
}


#io_widgets {
  display: flex; 
  flex-flow: row wrap; 
  justify-content: space-around; 
  align-items: center; 
  
  width: 100%; 
}

/**********************************/
/*             LANG CSS           */
/**********************************/
/*
    This is where you can force certain elements have whatever you want them to have
    (mostly font-size)
*/

/* Russian */
body:lang(-ru-ru),
body:lang(ru-ru) > div {
  font-family: "Noto Sans", sans-serif;
}

/* Chinese */
body:lang(zh-cn),
body:lang(zh-cn) > div {
  font-family: "Noto Sans", "Noto Sans SC", sans-serif;
  font-family: "Noto Sans", "Noto Sans SC", sans-serif;
}