/**********************************/
/*        DEPLOYABLES CSS         */
/**********************************/

.dp_icon {
  display: inline-block; 
}

.dp_icon > div {
  position: relative;
  z-index: -1;
  min-width: 256px;
  min-height: 256px;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transform: scale(0.85);
  background-repeat: no-repeat; 
  background-position: center center; 
}

.dp_icon:not(.dp_locked):hover > div {
  transform: scale(1);
}

.dp_icon.dp_locked {
  background: url("/img/lock_skill.png") no-repeat center center;
}

.dp_icon.dp_locked > div {
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2);
}

.dp_icon.dp_selected > div {
  transform: scale(1);
  border: 3px solid rgb(240, 240, 240); 
}

.dp_icon.dp_selected > div::before {
  content: 'EQUIP.'; 
  font-size: 16pt; 

  position: absolute; 
  top: 10px;
  left: 10px;
}

.dp_icon.dp_primary > div {
  transform: scale(1);
  border: 3px solid rgb(240, 240, 240); 
}

.dp_icon.dp_primary > div::before {
  content: 'PRIMARY'; 
  font-size: 16pt; 

  position: absolute; 
  top: 10px;
  left: 10px;
}

.dp_icon.dp_secondary > div {
  transform: scale(1);
  border: 3px solid rgb(240, 240, 240); 
}

.dp_icon.dp_secondary > div::before {
  content: 'SECONDARY'; 
  font-size: 16pt; 

  position: absolute; 
  top: 10px;
  left: 10px;
}


#ammo_bag {
  background-image: url("/img/deployables/ammo_bag.png"); 
}

#armor_kit {
  background-image: url("/img/deployables/armor_kit.png"); 
}

#bodybag_case {
  background-image: url("/img/deployables/bodybags_bag.png"); 
}

#doctor_bag {
  background-image: url("/img/deployables/doctor_bag.png"); 
}

#ecm_jammer {
  background-image: url("/img/deployables/ecm_jammer.png"); 
}

#first_aid_kit {
  background-image: url("/img/deployables/first_aid_kit.png"); 
}

#sentry_gun {
  background-image: url("/img/deployables/sentry_gun.png"); 
}

#sentry_gun_silent {
  background-image: url("/img/deployables/sentry_gun_silent.png"); 
}

#trip_mine {
  background-image: url("/img/deployables/trip_mine.png"); 
}