/*
    Fonts
*/

@font-face {
	font-family: 'Padaloma';
	font-style:  normal;
	font-weight: 400;
	src:         url('/css/fonts/Padaloma.ttf');
}

@font-face {
	font-family: 'CC';
	src:         url('/css/fonts/CC.ttf') format('truetype');
}

/*=====================================================================================================================

	Datatables

======================================================================================================================*/

table.dataTable td.dataTables_empty
{
	text-align: center
}

table.dataTable td.select-checkbox:before
{
	border: 1px solid white;
}

.dataTables_message
{
	background-blend-mode: normal;
	float:                 left;
	left:                  15px;
	margin-bottom:         0 !important;
	padding:               5px 15px 5px 15px;
	position:              relative;
	z-index:               1047;
}

.dataTables_message a
{
	color: inherit !important;
}

.dataTables_processing
{
	background-color: black;
	border:           0 !important;
	filter:           alpha(opacity=85);
	height:           100%;
	left:             0 !important;
	margin:           0 !important;
	position:         absolute;
	opacity:          0.85;
	top:              0 !important;
	width:            100% !important;
	-moz-opacity:     0.85;
}

.dataTables_processing #loading
{
	position: absolute;
	top:      calc(50% - 84px);
	left:     calc(50% - 87px);
}

.dt-button
{
	cursor: pointer;
}

.dt-buttons
{
	float: left;
}

/*=====================================================================================================================

	Bootstrap

======================================================================================================================*/

.alert
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dropdown-menu
{
	background-color: #ccc;
}

.dropdown-menu li a:hover
{
	background-color: #777;
	color:            #ccc;
}

.modal-body a
{
	color: #999;
}

.modal-header .close
{
	color: #fff;
}

.progress
{
	height: 34px !important;
}

.progress-bar
{
	font-size:   14px;
	line-height: 34px;
}

.tooltip.bottom .tooltip-arrow
{
	border-bottom-color: #777 !important;
}

.tooltip.in
{
	opacity: 1;
}

.tooltip.right .tooltip-arrow
{
	border-right-color: #777 !important;
}

.tooltip-inner
{
	font-size:        14px;
	padding:          4px 9px;
	background-color: #777;
	color:            #fff;
	max-width:        none;
	white-space:      nowrap;
}

/*=====================================================================================================================

	Select2

======================================================================================================================*/

.select2-results__option
{
	color: #000;
}

.select2-selection__choice__remove
{
	color: #fff !important;
}

.select2-selection__choice
{
	color:      #fff !important;
	background: #337ab7 !important;
	border:     none !important;
	padding:    1px 10px !important;
}

/*=====================================================================================================================

	Global

======================================================================================================================*/

td
{
	white-space: nowrap;
}

td.download_control, td.url_control
{
	text-align:    center;
	padding-right: 0 !important;
	padding-left:  0 !important;
}

td.download_control a, td.url_control a
{
	color: #fff;
}

tr.disabled
{
	font-style: italic;
	opacity:    0.5;
}

#header
{
	margin: 15px 0 10px 0;
}

#nav_common .dropdown-menu
{
	min-width: 100% !important;
}

#nav_common .dropdown-menu li a
{
	padding-top:    7px !important;
	padding-bottom: 3px !important;
	padding-left:   15px;
	padding-right:  15px;
}

#nav_logo
{
	padding: 14px 15px;
}

#nav_user li.avatar a
{
	padding-top:    10px;
	padding-bottom: 8px;
}

#nav_user li.login a
{
	padding-top:    9px;
	padding-bottom: 6px;
}

#title
{
	float: left;
}

#wrapper
{
	padding-top: 55px;
	padding-bottom: 20px;
}

.beta
{
	position: relative;
}

.beta:after
{
	content:          "";
	position:         absolute;
	background-image: url('/img/beta.png');
	width:            42px;
	height:           22px;
	top:              -2px;
}

.btn.ajax_danger:after
{
	content:    '';
	width:      21px;
	height:     15px;
	background: transparent url('/img/loading_icon_danger.gif') no-repeat;
	position:   relative;
	top:        2px;
	left:       7px;
	display:    inline-block;
}

.btn.ajax_default:after
{
	content:    '';
	width:      21px;
	height:     15px;
	background: transparent url('/img/loading_icon_default.gif') no-repeat;
	position:   relative;
	top:        2px;
	left:       7px;
	display:    inline-block;
}

.btn.ajax_primary:after
{
	content:    '';
	width:      21px;
	height:     15px;
	background: transparent url('/img/loading_icon_primary.gif') no-repeat;
	position:   relative;
	top:        2px;
	left:       7px;
	display:    inline-block;
}

.color_base
{
	color: #b6bac3;
}

.color_common
{
	color: #2360d8;
}

.color_community
{
	color: rgb(59, 174, 254);
}

.color_dlc
{
	color: rgb(255, 212, 0);
}

.color_epic
{
	color: #f00;
}

.color_event
{
	color: rgb(255, 145, 0);
}

.color_infamous
{
	color: rgb(255, 25, 255);
}

.color_legendary
{
	color: #fa0;
}

.color_max
{
	color: #f0f;
}

.color_mod
{
	color: rgb(229, 229, 76);
}

.color_negative
{
	color: rgb(254, 93, 99);
}

.color_normal
{
	color: #fff;
}

.color_positive
{
	color: rgb(191, 221, 125);
}

.color_rare
{
	color: #f0f;
}

.color_sidejob
{
	color: rgb(255, 168, 0);
}

.color_skill
{
	color: rgb(77, 198, 255);
}

.color_uncommon
{
	color: #90f;
}

.color_variable
{
	color: rgb(77, 198, 255);
}

.footer
{
	position:         absolute;
	bottom:           0;
	width:            100%;
	border-top:       1px solid #2a2e32;
	padding:          10px 0;
	background-color: #0b0b15;
}

.footer a
{
	color: #777;
}

.footer div
{
	margin: 0 15px;
}

.footer p
{
	font-size:     12px;
	color:         #5e5e5e;
	margin-bottom: 0;
	padding:       2px 0;
}

.license
{
	font-family: 'CC', serif;
	font-size:   14px;
}

.navbar-nav li a
{
	padding-top:    17px;
	padding-bottom: 13px;
}

#OVERKILL_seal
{
	text-align: center;
}

#OVERKILL_seal img
{
	width: 50%;
	height: 50%;
}

.selected
{
	background-color: #214c87 !important;
}

/*=====================================================================================================================

	Ads

======================================================================================================================*/

#ads_home
{
	width:      468px;
	height:     60px;
	border:     dashed 2px #777;
	float:      right;
	color:      #777;
	text-align: center;
}

#ads_home p
{
	margin: 18px;
}

#ads_panel
{
	width:      468px;
	height:     60px;
	border:     dashed 2px #777;
	color:      #777;
	text-align: center;
}

#ads_panel p
{
	margin: 18px;
}

/*=====================================================================================================================

	Panels

======================================================================================================================*/

#panel
{
	background-color: #000;
}

#panel_box
{
	clear: both;
}

#panel_loading
{
	text-align: center;
	position:   absolute;
	top:        calc(50% - 84px);
	left:       calc(50% - 87px);
}

.panel_content
{
	padding: 15px;
}

.panel_contest .progress
{
	height: 20px !important;
	margin-bottom: 0;
}

.panel_contest .progress-bar
{
	font-size: 12px;
    line-height: 22px;
}

.panel_contest th, .panel_contest_value
{
	text-align: center;
}

.panel_contest_value_correct
{
	color: #5cb85c;
}

.panel_contest_value_wrong
{
	color: #d9534f;
}

.panel_control
{
	display:    inline-block;
	text-align: right;
}

.panel_description_weapon
{
	padding: 10px;
}

.panel_header
{
	padding:          10px 14px;
	background-color: #1e2124;
	border:           1px solid #2a2e32;
	color:            #777;
}

.panel_image_weapon
{
	margin:       15px 20px 0 15px;
	float:        left;
	border:       12px solid transparent;
	border-image: url('/img/border.png') 16 stretch;
}

.panel_item_weapon
{
	padding: 3px 0;
}

.panel_table_left
{
	width:         50%;
	float:         left;
	padding-right: 25px;
}

.panel_table_right
{
	width:        50%;
	float:        left;
	padding-left: 25px;
}

@media (max-width: 1499px)
{
	.panel_title
	{
		display: inline-block;
		width:   89% !important;
	}
}

@media (min-width: 1500px)
{
	.panel_title
	{
		display: inline-block;
		width:   91% !important;
	}
}

.panel_toggle
{
	cursor: pointer;
}

.panel_toggle:hover
{
	text-decoration: underline;
}

/*=====================================================================================================================

	Achievements

======================================================================================================================*/

.ach_description
{
	font-weight: normal;
	font-size:   12px;
	color:       #898989;
	margin:      0;
}

.ach_icon
{
	position: absolute;
	left:     0;
	top:      0;
}

.ach_icon_wrapper
{
	position: relative;
	display:  inline-block;
}

.ach_name
{
	font-weight:   bold;
	font-size:     15px;
	color:         #e1e1e1;
	overflow:      hidden;
	text-overflow: ellipsis;
	white-space:   nowrap;
	margin:        0;
}

.ach_remove
{
	position:         absolute;
	top:              0;
	right:            0;
	cursor:           pointer;
	width:            16px;
	height:           16px;
	background-color: #f00;
	border:           1px solid black;
	color:            white;
	border-radius:    3px;
	text-align:       center;
	padding-bottom:   18px;
	font-weight:      bold;
}

.ach_row
{
	position:      relative;
	padding-left:  71px;
	min-height:    66px;
	margin-bottom: 12px;
	width:         100%;
}

.ach_row:hover
{
	cursor:           pointer;
	background-color: #090d12;
}

.ach_text
{
	padding: 0 6px 6px 6px;
}

.ach_text_wrapper
{
	min-height: 64px;
	position:   relative;
}

/*=====================================================================================================================

	Loadouts

======================================================================================================================*/

#arm_details
{
	border:       16px solid transparent;
	border-image: url('/img/border.png') 18 stretch;
	margin-top:   10px;
}

.arm_container
{
	padding:      0;
	height:       100%;
	border:       16px solid transparent;
	border-image: url('/img/border.png') 18 stretch;
	margin-top:   10px;
}

.arm_item
{
	float:      left;
	padding:    32px 0;
	text-align: center;
	cursor:     pointer;
}

.arm_item img
{
	max-width:  100%;
	width:      152px;
	height:     152px;
	margin:     16px;
	transition: all 0.3s ease;
}

.arm_item img:hover
{
	width:  184px;
	height: 184px;
	margin: 0;
}

.arm_locked
{
	background: url("/img/lock_skill.png") no-repeat center center;
}

.arm_panel
{
	padding-right: 0;
}

.arm_selected:after
{
	content:  "";
	border:   1px solid #fff;
	position: absolute;
	top:      0;
	left:     0;
	right:    0;
	bottom:   0;
}

.arm_selected:before
{
	content:   "EQUIPPED";
	font-size: 18px;
	position:  absolute;
	top:       5px;
	left:      8px;
}

#dpl_details
{
	border:       16px solid transparent;
	border-image: url('/img/border.png') 18 stretch;
	margin-top:   10px;
}

.dpl_container
{
	padding:      0;
	height:       100%;
	border:       16px solid transparent;
	border-image: url('/img/border.png') 18 stretch;
	margin-top:   10px;
}

.dpl_item
{
	float:      left;
	padding:    22px 0;
	text-align: center;
	cursor:     pointer;
}

.dpl_item img
{
	max-width:  100%;
	width:      128px;
	height:     128px;
	margin:     12px;
	transition: all 0.3s ease;
}

.dpl_item img:hover
{
	width:  152px;
	height: 152px;
	margin: 0;
}

.dpl_locked
{
	background: url("/img/lock_skill.png") no-repeat center center;
}

.dpl_panel
{
	padding-right: 0;
}

.dpl_selected:after
{
	content:  "";
	border:   1px solid #fff;
	position: absolute;
	top:      0;
	left:     0;
	right:    0;
	bottom:   0;
}

.dpl_selected:before
{
	content:   attr(data-selected);
	font-size: 18px;
	position:  absolute;
	top:       5px;
	left:      8px;
}

#pk_details
{
	height:       645px;
	border:       16px solid transparent;
	border-image: url('/img/border.png') 18 stretch;
	margin-top:   10px;
}

#pk_details h4
{
	margin: 0;
}

.pk_container
{
	padding:      0;
	height:       645px;
	border:       16px solid transparent;
	border-image: url('/img/border.png') 18 stretch;
	margin-top:   10px;
}

.pk_item
{
	padding: 0 0 37px 0;
	cursor:  pointer;
}

.pk_name
{
	font-size: 18px;
	display:   inline-block;
}

.pk_panel
{
	padding-right: 0;
}

.pk_selected:before
{
	content:   "EQUIPPED: ";
	font-size: 18px;
}

.pk_sprite
{
	padding: 0;
	margin:  30px 0 0 0;
}

.pk_sprite li
{
	height:     48px;
	width:      48px;
	/*margin:     20px 50px;*/
	padding:    0;
	list-style: none;
	display:    inline-block;
	position:   relative;
}

.pk_sprite li:before
{
	content:    "";
	height:     92px;
	width:      64px;
	background: url("/img/perks/card.png") no-repeat center center;
	display:    inline-block;
	position:   absolute;
	z-index:    -1;
	margin:     -22px -8px;
}

.sk_aced
{
	background: url("/img/skills/ace.png") no-repeat center center;
}

.sk_action
{
	display: inline-block;
}

.sk_container
{
	padding:    0;
	text-align: center;
}

.sk_details
{
	border:       16px solid transparent;
	border-image: url('/img/border.png') 18 stretch;
	margin-top:   10px;
}

.sk_locked
{
	background: url("/img/skills/padlock.png") no-repeat center center;
}

.sk_name
{
	visibility: hidden;
}

.sk_panel
{
	padding-right: 0;
}

.sk_points
{
	font-size:      20px;
	display:        inline-block;
	line-height:    30px;
	vertical-align: bottom;
}

.sk_sprite
{
	margin:  0;
	padding: 0;
	cursor:  pointer;
	height:  80px;
}

.sk_sprite li
{
	min-height: 80px;
	width:      80px;
	background: url("/img/skills/icons.png") no-repeat;
	list-style: none;
	display:    inline-block;
	position:   relative;
	opacity:    0.2;
}

.sk_sprite.sk_basic li
{
	opacity: 1;
}

.sk_subtree
{
	background:         bottom center url('/img/skills/background.png') no-repeat;
	background-size:    99% 0;
	-webkit-transition: background-size 0.4s ease;
	-moz-transition:    background-size 0.4s ease;
	-o-transition:      background-size 0.4s ease;
	transition:         background-size 0.4s ease;
}

.sk_subtree_container
{
	padding: 0;
}

.sk_subtree_name
{
	padding:    10px 0 0 0;
	font-size:  24px;
	border-top: 1px solid #ddd;
	color:      #005581;
	text-align: center;
}

.sk_tier
{
	height:  140px;
	padding: 0;
}

.sk_tier_border
{
	border-bottom: 1px solid #005581;
}

.sk_tier_cost, .sk_tiers_cost
{
	visibility: hidden;
	color:      #005581;
	padding:    5px 0 0 0;
}

.sk_tiers_cost
{
	text-align: left;
}

.sk_tier_cost
{
	text-align: right;
}

#thrw_details
{
	border:       16px solid transparent;
	border-image: url('/img/border.png') 18 stretch;
	margin-top:   10px;
}

.thrw_container
{
	padding:      0;
	height:       100%;
	border:       16px solid transparent;
	border-image: url('/img/border.png') 18 stretch;
	margin-top:   10px;
}

.thrw_item
{
	float:      left;
	padding:    32px 0;
	text-align: center;
	cursor:     pointer;
}

.thrw_item img
{
	max-width:  100%;
	width:      140px;
	height:     70px;
	margin:     13px 26px;
	transition: all 0.3s ease;
}

.thrw_item img:hover
{
	width:  192px;
	height: 96px;
	margin: 0;
}

.thrw_locked
{
	background: url("/img/lock_skill.png") no-repeat center center;
}

.thrw_panel
{
	padding-right: 0;
}

.thrw_selected:after
{
	content:  "";
	border:   1px solid #fff;
	position: absolute;
	top:      0;
	left:     0;
	right:    0;
	bottom:   0;
}

.thrw_selected:before
{
	content:   "EQUIPPED";
	font-size: 18px;
	position:  absolute;
	top:       5px;
	left:      8px;
}

#user_inventory, #user_message, #user_options
{
	padding: 0;
}

#user_input
{
	min-height: 38px;
}

#user_input_save, #user_input_waiting
{
	display: none;
	width:   410px;
	float:   left;
}

#user_inventory
{
	position: relative;
}

#user_message
{
	display: inline-block;
}

#user_message_contest
{
	text-decoration: underline;
	cursor:    		 pointer;
}

#user_options
{
	margin-bottom: 15px;
}

#user_option_download
{
	position: relative;
}

#user_option_contest, #user_option_contest_guest, #user_option_download, #user_option_save, #user_option_share
{
	text-align: center;
	display:    inline-block;
	width:      70px;
	margin:     5px 15px;
	cursor:     pointer;
}

#user_option_contest p, #user_option_contest_guest p, #user_option_download p, #user_option_save p, #user_option_share p
{
	font-size: 16px;
	margin:    0;
}

#user_option_contest span, #user_option_contest_guest span, #user_option_download span, #user_option_save span, #user_option_share span
{
	font-size: 32px;
}

#user_option_contest_guest
{
	opacity: 0.3;
}

#user_option_download_info
{
	position:  absolute;
	top:       0;
	right:     0;
	cursor:    pointer;
	font-size: 12px !important;
}

.user_divider
{
	border:           0;
	height:           1px;
	background-image: -webkit-linear-gradient(left, #0b0b15, #fff, #0b0b15);
	background-image: -moz-linear-gradient(left, #0b0b15, #fff, #0b0b15);
	background-image: -ms-linear-gradient(left, #0b0b15, #fff, #0b0b15);
	background-image: -o-linear-gradient(left, #0b0b15, #fff, #0b0b15);
	width:            100%;
}

#wp_mods
{
	display:          none;
	position:         absolute;
	top:              0;
	left:             0;
	height:           692px;
	width:            100%;
	z-index:          1048;
	background-color: rgba(0, 0, 0, 0.97);
}

#wp_mods_close
{
	float:        right;
	cursor:       pointer;
	margin:       15px;
	font-size:    24px;
	border:       12px solid transparent;
	border-image: url('/img/border.png') 16 stretch;
	width:        55px;
	text-align:   center;
}

#wp_target
{
	float:     left;
	height:    90px;
	font-size: 13px;
	margin:    15px;
}

.wp_blueprint_control
{
	cursor:        pointer;
	text-align:    center;
	padding-right: 5px !important;
	padding-left:  5px !important;
}

.wp_rules_control
{
	cursor:        pointer;
	text-align:    center;
	padding-right: 0 !important;
	padding-left:  0 !important;
}

.wp_target_border
{
	border:       12px solid transparent;
	border-image: url('/img/border.png') 16 stretch;
	width:        144px;
	height:       90px;

}

.wp_target_cell
{
	display: table-cell !important;
	padding: 3px;
}

.wp_target_cell_border
{
	border-top: 1px solid #fff;
}

.wp_target_cell_name
{
	line-height: 1.2em;
}

.wp_target_cell_value
{
	text-align:     right;
	padding-left:   10px;
	line-height:    1.5 !important;
	font-family:    "Fjalla One", Helvetica, Arial, sans-serif !important;
	vertical-align: baseline !important;
}

.wp_target_column
{
	display: table-column;
}

.wp_target_row
{
	display: table-row;
}

.wp_target_spacing
{
	display: inline;
	padding: 0 4px;
}

.wp_target_table
{
	display: inline-table;
}

.wp_target_table_cell
{
	display:        table-cell;
	vertical-align: middle;
}

/*=====================================================================================================================

	Risk

======================================================================================================================*/

.risk
{
	border:       16px solid transparent;
	border-image: url('/img/border.png') 18 stretch;
	margin-top:   10px;
	height:       96px;
}

.risk_maximum
{
	color: #ff2b00;
}

.risk_meter
{
	position: relative;
	width:    64px;
	height:   64px;
	float:    left;
}

.risk_meter_base
{
	background: url("/img/risk.png") no-repeat;
	width:      64px;
	height:     64px;
}

.risk_meter_base:after
{
	content:    "";
	background: url("/img/risk.png") no-repeat;
	width:      64px;
	height:     64px;
	position:   absolute;
	top:        0;
	left:       0;
	opacity:    0.2;
	display:    block;
	z-index:    2;
}

.risk_meter_fill_left
{
	position:              absolute;
	width:                 64px;
	height:                64px;
	clip:                  rect(0px, 32px, 64px, 0px);
	-moz-border-radius:    34px;
	-webkit-border-radius: 34px;
	border-radius:         34px;
	background-color:      #0b0b15;
	border-color:          #0b0b15;
	top:                   0;
	left:                  0;

	-webkit-transition:    all .5s linear;
	-moz-transition:       all .5s linear;
	-o-transition:         all .5s linear;
}

.risk_meter_fill_right
{
	position:              absolute;
	width:                 64px;
	height:                64px;
	clip:                  rect(0px, 64px, 64px, 32px);
	-moz-border-radius:    34px;
	-webkit-border-radius: 34px;
	border-radius:         34px;
	background-color:      #0b0b15;
	border-color:          #0b0b15;
	top:                   0;
	left:                  0;

	-webkit-transition:    all .5s linear;
	-moz-transition:       all .5s linear;
	-o-transition:         all .5s linear;
}

.risk_meter_mask_left
{
	position:              absolute;
	width:                 64px;
	height:                64px;
	clip:                  rect(0px, 32px, 64px, 0px);
	-moz-border-radius:    34px;
	-webkit-border-radius: 34px;
	border-radius:         34px;
	top:                   0;
	left:                  0;
}

.risk_meter_mask_right
{
	position:              absolute;
	width:                 64px;
	height:                64px;
	clip:                  rect(0px, 64px, 64px, 32px);
	-moz-border-radius:    34px;
	-webkit-border-radius: 34px;
	border-radius:         34px;
	top:                   0;
	left:                  0;
}

.risk_meter_value
{
	width:            40px;
	height:           40px;
	position:         absolute;
	margin-left:      12px;
	margin-top:       12px;
	background-color: #0b0b15;
	border-radius:    50%;
	top:              0;
	left:             0;
}

.risk_meter_value_number
{
	text-align: center;
	position:   relative;
	top:        50%;
	transform:  translateY(-40%);
	font-size:  24px;
}

.risk_text
{
	float:        left;
	padding-left: 15px;
	padding-top:  23px;
	font-size:    18px;
}

.risk_text_incomplete, .risk_text_maximum, .risk_text_none, .risk_text_normal
{
	display: none;
}

.risk_value_incomplete .risk_text_incomplete
{
	display: block !important;
}

.risk_value_maximum .risk_text_maximum
{
	display: block !important;
}

.risk_value_none .risk_text_none
{
	display: block !important;
}

.risk_value_normal .risk_text_normal
{
	display: block !important;
}

/*=====================================================================================================================

	Crews

======================================================================================================================*/

#crw_browse h4
{
	margin-top: 0 !important;
	overflow:   auto;
}

#crw_browse, #crw_own
{
	padding-bottom: 76px;
}

#crw_browse_more
{
	text-align: center;
}

.crw_browse_list_container
{
	position: relative;
}

.crw_browse_list_overlay
{
	position: absolute;
	width:    100%;
	height:   100%;
	display:  none;
}

.crw_browse_list_overlay_loading
{
	position:   absolute;
	top:        108px;
	left:       calc(50% - 87px);
	text-align: center;
}

#crw_browse_title
{
	float:   left;
	padding: 8px 0;
}

#crw_browse_filters .form-group, #crw_browse_filters .input-group
{
	margin-bottom: 15px !important;
}

#crw_browse_filters_toggle
{
	float: right;
}

#crw_form
{
	margin-bottom: 10px;
}

#crw_form_achievements_toggle
{
	margin-bottom: 10px;
}

#crw_form_achievements_wrapper
{
	padding-left: 15px;
}

#crw_form_submit #s_save, #crw_form_submit #s_search
{
	margin-top:   62px;
	float:        right;
	margin-right: 15px;
}

.crw_divider
{
	border:           0;
	height:           1px;
	background-image: -webkit-linear-gradient(left, #0b0b15, #fff, #0b0b15);
	background-image: -moz-linear-gradient(left, #0b0b15, #fff, #0b0b15);
	background-image: -ms-linear-gradient(left, #0b0b15, #fff, #0b0b15);
	background-image: -o-linear-gradient(left, #0b0b15, #fff, #0b0b15);
	width:            80%;
}

.crw_ingame, .crw_ingame a
{
	color:        #8fb93b;
	border-color: #8fb93b !important;
}

.crw_list_host, .crw_list_players, .crw_list_contracts_jobs, .crw_list_contracts_settings,
.crw_list_builds, .crw_list_achievements
{
	color:      #a8a8a8;
	min-height: 64px;
}

.crw_list_achievements
{
	width:      150px;
	text-align: center;
}

.crw_list_builds
{
	width: 272px;
}

.crw_list_builds_deployables ul, .crw_list_builds_perks ul
{
	padding-left: 0;
}

.crw_list_builds_deployables li
{
	background: url('/img/crews/deployables.png') no-repeat;
	width:      17px;
	height:     17px;
	list-style: none;
	display:    inline-block;
}

.crw_list_builds_perks li
{
	background: url('/img/crews/perks.png') no-repeat;
	width:      17px;
	height:     17px;
	list-style: none;
	display:    inline-block;
}

.crw_list_contracts_jobs
{
	width:      200px;
	text-align: center;
}

.crw_list_contracts_settings
{
	width: 170px;
}

.crw_list_controls
{
	width: 137px;
}

.crw_list_controls_client button
{
	height: 32px;
	width:  32px;
}

.crw_list_controls_host
{
	margin: 9px 0;
	width:  115px;
}

.crw_list_controls_positive
{
	margin-bottom: 3px;
}

.crw_list_controls_rating
{
	height:    32px;
	font-size: 16px;
}

.crw_list_controls_rating_down
{
	color:      #d9534f;
	width:      50%;
	margin-top: 10px;
	float:      left;
}

.crw_list_controls_rating_up
{
	color:      #449d44;
	width:      50%;
	margin-top: 10px;
	float:      left;
}

.crw_list_host
{
	width: 237px;
}

.crw_list_host_avatar
{
	border-radius: 4px 0 0;
	float:         left;
}

.crw_list_host_avatar a
{
	display:       block;
	border:        2px solid #6a6a6a;
	border-radius: 2px;
	width:         64px;
}

.crw_list_host_profile
{
	float:        left;
	padding-left: 15px;
	width:        173px;
}

.crw_list_host_profile_stats
{
	color: #a8a8a8;
}

.crw_list_host_profile_stats img
{
	vertical-align: top;
}

.crw_list_job_base
{
	border: 1px solid #a8a8a8;
}

.crw_list_job_community
{
	border: 1px solid rgb(59, 174, 254);
}

.crw_list_job_dlc
{
	border: 1px solid rgb(255, 212, 0);
}

.crw_list_players
{
	width: 211px;
}

.crw_list_players_extra
{
	width: 131px;
}

.crw_list_row
{
	min-height:    104px;
	border-radius: 5px;
	padding:       20px !important;
	margin:        15px;
	background:    #262626; /* For browsers that do not support gradients */
	background:    -webkit-linear-gradient(#262626, #161616); /* For Safari 5.1 to 6.0 */
	background:    -o-linear-gradient(#262626, #161616); /* For Opera 11.1 to 12.0 */
	background:    -moz-linear-gradient(#262626, #161616); /* For Firefox 3.6 to 15 */
	background:    linear-gradient(#262626, #161616); /* Standard syntax */
}

.crw_offline, .crw_offline a
{
	color:        #a8a8a8;
	border-color: #a8a8a8 !important;
}

.crw_online, .crw_online a
{
	color:        #509dbb;
	border-color: #509dbb !important;
}

.inv_list_loadout_armor
{
	padding: 0 5px;
}

.inv_list_loadout_armor img
{
	height: 50px;
	margin-top: 10px;
}

.inv_list_loadout_armor p
{
	margin: 0;
	text-align: center;
}

.inv_list_loadout_details
{
	padding: 0;
}

.inv_list_loadout_details > li
{
	float: left;
	list-style: none;
	height: 92px;
	text-align: center;
}

.inv_list_loadout_perk_sprite
{
	height:     92px;
	width:      64px;
	background: url("/img/perks/card.png") no-repeat center center;
}

.inv_list_loadout_perk_sprite div
{
	height:     48px;
	width:      48px;
	padding:    0;
	list-style: none;
	display:    inline-block;
	position:   relative;
	margin:     22px 7px;
}

.inv_list_loadout_skills
{
	width: 800px;
}

.inv_list_loadout_skills_sprite
{
	margin:  0 10px 0 0;
	padding: 0;
	height:  75px;
	width: 150px;
	float: left;
}

.inv_list_loadout_skills_sprite li
{
	min-height: 25px;
	width:      25px;
	margin: 	3px 0;
	background: url("/img/skills/icons_small.png") no-repeat;
	list-style: none;
	display:    inline-block;
	position:   relative;
	opacity:    0.2;
}

.inv_list_loadout_weapon
{
	padding: 0 5px;
}

.inv_list_loadout_weapon img
{
	width: 100px;
	margin-top: 10px;
}

.inv_list_loadout_weapon p
{
	margin: 0;
	text-align: center;
}

.inv_list_row
{
	min-height:    104px;
	border-radius: 5px;
	padding:       20px !important;
	margin:        15px;
	background:    #262626; /* For browsers that do not support gradients */
	background:    -webkit-linear-gradient(#262626, #161616); /* For Safari 5.1 to 6.0 */
	background:    -o-linear-gradient(#262626, #161616); /* For Opera 11.1 to 12.0 */
	background:    -moz-linear-gradient(#262626, #161616); /* For Firefox 3.6 to 15 */
	background:    linear-gradient(#262626, #161616); /* Standard syntax */
	float: left;
    box-shadow: 0 0 20px 5px rgb(255, 212, 0);
}

.inv_list_build_skills_sprite.sk_basic li
{
	opacity: 1;
}

#ldt_browse_filters_toggle
{
	float: right;
}

/*=====================================================================================================================

	Masks

======================================================================================================================*/

#msk_browse
{
	padding-bottom: 15px;
}

.msk_box
{
	width:        72px;
	height:       72px;
	border:       2px solid transparent;
	border-image: url('/img/border.png') 6 stretch;
	display:      inline-block;
	position:     relative;
	cursor:       pointer;
	overflow:     hidden;
}

.msk_box_contents
{
	width:      68px;
	height:     68px;
	transition: all 0.3s ease;
	overflow:   hidden;
}

.msk_box_contents:hover
{
	-webkit-transform: scale(1.2);
	-moz-transform:    scale(1.2);
	-ms-transform:     scale(1.2);
	-o-transform:      scale(1.2);
	transform:         scale(1.2);
}

.msk_box_contents.msk_color_visible
{
	background: url('/img/masks/colors_ui.png');
}

#msk_color_primary, #msk_color_secondary
{
	width:    32px;
	height:   32px;
	position: absolute;
}

#msk_color_primary
{
	top:  10px;
	left: 10px;
}

#msk_color_secondary
{
	top:  26px;
	left: 26px;
}

.msk_component
{
	width:    142px;
	height:   72px;
	position: absolute;
	right:    25px;
}

.msk_item_selected:before
{
	content:   "Selected";
	font-size: 16px;
	position:  absolute;
	top:       5px;
	left:      8px;
}

#msk_items
{
	display:          none;
	position:         absolute;
	top:              0;
	left:             0;
	width:            100%;
	z-index:          1048;
	background-color: rgba(0, 0, 0, 0.97);
}

#msk_items_close
{
	float:        right;
	cursor:       pointer;
	margin:       15px;
	font-size:    24px;
	border:       12px solid transparent;
	border-image: url('/img/border.png') 16 stretch;
	width:        55px;
	text-align:   center;
}

.msk_items_color.msk_item_selected, .msk_items_mask.msk_item_selected, .msk_items_material.msk_item_selected, .msk_items_pattern.msk_item_selected
{
	border: 1px solid #fff;
}

.msk_items_color
{
	width:    222px;
	height:   146px;
	display:  inline-block;
	position: relative;
	cursor:   pointer;
	margin:   0 3px;
	border:   1px solid rgba(0, 0, 0, 0);
}

.msk_items_color_primary, .msk_items_color_secondary
{
	width:    57px;
	height:   57px;
	position: absolute;
	top:      35px;
}

.msk_items_color_primary
{
	left:        2px;
	margin-left: 33px;
}

.msk_items_color_secondary
{
	right:        2px;
	margin-right: 33px;
}

.msk_items_color_wrapper
{
	width:      194px;
	height:     128px;
	background: transparent url('/img/masks/colors_icons.png') center no-repeat;
	position:   relative;
	margin:     9px 14px;
	transition: all 0.3s ease;
}

.msk_items_color_wrapper:hover
{
	-webkit-transform: scale(1.2);
	-moz-transform:    scale(1.2);
	-ms-transform:     scale(1.2);
	-o-transform:      scale(1.2);
	transform:         scale(1.2);
}

#msk_items_information
{
	float:  left;
	margin: 5px 15px;
	color:  #b6bac3;
}

.msk_items_mask, .msk_items_material, .msk_items_pattern
{
	width:    202px;
	height:   166px;
	padding:  18px 36px;
	display:  inline-block;
	position: relative;
	cursor:   pointer;
	overflow: hidden;
	border:   1px solid rgba(0, 0, 0, 0);
}

.msk_items_mask img, .msk_items_material img, .msk_items_pattern img
{
	width:      75%;
	height:     75%;
	margin:     16px;
	transition: all 0.3s ease;
}

.msk_items_mask img:hover, .msk_items_material img:hover, .msk_items_pattern img:hover
{
	width:  100%;
	height: 100%;
	margin: 0;
}

#msk_mask_icon
{
	width:  58px;
	height: 58px;
	margin: 5px;
}

#msk_material_icon
{
	width:  56px;
	height: 56px;
	margin: 6px 5px;
}

.msk_next, .msk_previous
{
	font-size: 24px;
	display:   inline-block;
	width:     32px;
	cursor:    pointer;
}

.msk_next span, .msk_previous span
{
	line-height: 3;
	top:         -24px;
	color:       #777;
}

.msk_next
{
	text-align: right;
}

#msk_pattern_icon
{
	width:  52px;
	height: 52px;
	margin: 8px 8px;
}

.msk_previous
{
	text-align: left;
}

#msk_results_masks, #msk_results_materials, #msk_results_patterns, #msk_results_colors
{
	clear: both;
}

.msk_search_filters label
{
	padding-right: 5px;
}

.msk_search_filters .form-group
{
	padding-right: 30px;
}

.msk_search_filters_toggle
{
	float: right;
}

.msk_search_title
{
	display: inline-block;
	padding: 8px 0;
}

#msk_share
{
	bottom:     30px;
	text-align: center;
	color:      #fff;
}

#msk_share a, #msk_share_link
{
	color:           inherit !important;
	text-decoration: underline;
}

#msk_share div
{
	width:      142px;
	margin-top: 5px;
	padding:    5px 15px 5px 15px;
}

#msk_share span
{
	font-size: 40px;
}

#msk_simulator
{
	padding: 0;
}

/*=====================================================================================================================

	Side Jobs

======================================================================================================================*/

#sj_browse h3, #sj_force h3
{
	text-align:    center;
	margin-top:    0;
	margin-bottom: 20px;
}

#sj_browse_form, #sj_force_form
{
	text-align: center;
}

#sj_browse_form .form-control, #sj_force_form .form-control
{
	width:         252px;
	text-align:    center;
	margin-left:   auto;
	margin-right:  auto;
	margin-bottom: 10px;
}

#sj_browse_rewards, #sj_force_rewards
{
	width:  95%;
	margin: auto;
}

#sj_list
{
	padding-bottom: 15px;
}

#sj_list h4
{
	margin-top: 0 !important;
	overflow:   auto;
}

#sj_list .pagination
{
	font-size: 14px;
	margin:    0 0;
	float:     right;
}

.sj_list_header
{
	float:   left;
	padding: 8px 0;
}

.sj_list_row
{
	color:		   #ccc;
	min-height:    140px;
	border-radius: 5px;
	padding:       20px !important;
	margin:        15px;
	background:    #262626; /* For browsers that do not support gradients */
	background:    -webkit-linear-gradient(#262626, #161616); /* For Safari 5.1 to 6.0 */
	background:    -o-linear-gradient(#262626, #161616); /* For Opera 11.1 to 12.0 */
	background:    -moz-linear-gradient(#262626, #161616); /* For Firefox 3.6 to 15 */
	background:    linear-gradient(#262626, #161616); /* Standard syntax */
	position:      relative;
	overflow:      auto;
}

.sj_list_row_details
{
	padding: 0;
}

.sj_list_row_details_objective
{
	margin-top: 20px;
}

.sj_list_row_details_title
{
	text-transform: uppercase;
	margin-bottom:  5px;
}

.sj_list_row_rewards
{
	padding: 0;
}

.sj_list_row_rewards_box
{
	border:       16px solid transparent;
	border-image: url('/img/border.png') 18 stretch;
	height:       112px;
	float:        right;
}

.sj_list_row_rewards_box_item
{
	height:   64px;
	width:    116px;
	position: relative;
	display:  inline-block;
}

.sj_list_row_rewards_box_item_value
{
	text-align:  center;
	font-size:   12px;
	padding-top: 67px;
}

#sj_main
{
	height: 597px;
}

#sj_note
{
	margin: 19px 0;
	clear:  left;
}

#sj_note .alert
{
	font-size:     13px;
	margin-bottom: 0;
}

/*=====================================================================================================================

	Randomizer

======================================================================================================================*/

.rnd_box
{
	width: 150px;
	height: 150px;
	border: solid 1px #fff;
	padding: 10px;
	margin: 5px;
	text-align: center;
}

.rnd_box:hover
{
	cursor: pointer;
	border: dashed 1px #2996f0;
}

.rnd_box_name
{
	text-align: left;
	padding: 0;
}

.rnd_box_selected
{
	border: solid 1px #2996f0 !important;
}

.rnd_box_selected:hover
{
	border: dashed 1px #fff !important;
}

#rnd_random_armor_image, #rnd_random_character_image, #rnd_random_deployable_image, #rnd_random_job_image
{
	margin-top: 5px;
}

#rnd_random_job_difficulty
{
	margin: 5px;
}

#rnd_random_mask_blueprint
{
	padding: 0;
	border: 10px solid transparent;
    border-image: url(/img/border.png) 16 stretch;
}

#rnd_random_mask_blueprint_pattern, #rnd_random_mask_blueprint_material
{
	padding: 0;
	margin: 2px 0;
}

#rnd_random_mask_blueprint_colors_primary, #rnd_random_mask_blueprint_colors_secondary
{
	padding: 1px;
	width: 14px;
	height: 14px;
	display: inline-block;
}

#rnd_random_mask_image
{
	margin-top: 10px;
	padding: 0;
}

#rnd_random_mask_image img
{
	position: absolute;
	left: -10px;
}

#rnd_random_melee_image, #rnd_random_throwable_image
{
	margin: 20px 0;
}

#rnd_random_perk_image
{
	margin-top: 5px;
	height:     92px;
}

#rnd_random_perk_image li
{
	height: 48px;
    width: 48px;
    padding: 0;
    list-style: none;
    display: inline-block;
    position: relative;
    top: 22px;
}

#rnd_random_perk_image li:before
{
	content: "";
    height: 92px;
    width: 64px;
    background: url("/img/perks/card.png") no-repeat center center;
    display: inline-block;
    position: absolute;
    z-index: -1;
    margin: -22px -32px;
}

#rnd_random_skills_image
{
	margin-top: 5px;
	padding: 20px 0 5px 0;
}

#rnd_random_skills_points
{
	padding: 0 4px;
}

#rnd_random_skills_points_mastermind, #rnd_random_skills_points_enforcer, #rnd_random_skills_points_technician, #rnd_random_skills_points_ghost, #rnd_random_skills_points_fugitive
{
	width: 20px;
    display: inline-block;
}

#rnd_settings_form_text
{
	margin-bottom: 10px;
}

#rnd_settings_selector button
{
	margin-bottom: 5px;
}

#rnd_settings
{
	padding-left: 0;
}

/*=====================================================================================================================

	Contests

======================================================================================================================*/

.cts_deadline div
{
	display: inline;
}

.cts_prizes
{
	padding-bottom: 20px;
}

/*=====================================================================================================================

	DLCs

======================================================================================================================*/

#dlcs img
{
	padding: 3px;
}

.dlc_box
{
	text-align: center;
	float:      left;
	padding:    5px;
}

.dlc_community
{
	border: 2px solid rgb(59, 174, 254);
}

.dlc_dlc
{
	border: 2px solid rgb(255, 212, 0);
}

.dlc_event
{
	border: 2px solid #fa0;
}

.dlc_collaboration
{
	border: 2px solid #ff2b00;
}