
#io_other_t {
  padding: 50px 25px; 
}

#io_save_r {
  padding: 50px 25px; 
}
  
.io_text_block {
  line-height: 1.1em; 
}

#io_share_link {
  -webkit-transition: background-color 0.5s ease;
  -moz-transition:    background-color 0.5s ease;
  -o-transition:      background-color 0.5s ease;
  transition:         background-color 0.5s ease;
}

#io_share_link.io_link_flash {
  background-color: rgb(130, 255, 130); 

  -webkit-transition: background-color 0.01s ease;
  -moz-transition:    background-color 0.01s ease;
  -o-transition:      background-color 0.01s ease;
  transition:         background-color 0.01s ease;
}