/*
    This is where you can force certain elements have whatever you want them to have
    (mostly font-size)
*/

.sk_name:lang(ru-ru) {
    font-size: 11pt;
}

table:lang(ru-ru) {
    font-size: 12pt;
}