/* hi  */ 

html {
  /**
    * I can finally use em like a real man 
    * This constraints the font size from a minimum to a maximum (floor and ceiling cap)
    * Parameters are: max font size - min font size, and min-max viewport width to use the max font sizes at 
    */
  font-size: calc(12px + (26 - 12) * ((100vw - 300px) / (1000 - 300)));
}

button { 
  font-size: inherit; 
}

body {
  background: rgb(11, 11, 21) url("../img/bg.png"); 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01); /* Font "antialiasing" */
  color: rgb(240, 240, 240); 
  font-family: 'Noto Sans', sans-serif;
}

body > div {
  font-family: "DINEngschrift", "Noto Sans", sans-serif; 
}


nav.navbar {
  padding-top: 1vh; 
  padding-bottom: 1vh; 
}

nav.navbar a.navbar-brand {
  font-size: 1em; 
}

nav.navbar button.navbar-toggler {
  margin: auto 15px auto 0; 
  height: 80%; 
}

nav.navbar .navbar-toggler-icon {
  width: 1em !important; 
  height: 1em !important;  
}

nav.navbar ul {
  align-items: center; 
}

select {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 82px; 
  height: 30px; 
  padding: 2px 8px;
  outline: none;
  color: rgb(40, 40, 40);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px rgb(215, 220, 225);
  background: rgb(240, 240, 240) url("../img/dropdown-arrow.png") 95% / 15% no-repeat;  
}

#title {
  display: flex;
  justify-content: space-evenly; 
  
  padding: 1vh 0;

  font-size: 1.5em; 
}

#title p {
  margin: auto 0; 
  padding: 0; 
}

.page_gutter {
  padding: 0 15px; 
}


@-webkit-keyframes slideInDown {
  0% {
    top: -100%; 
    opacity: 0;
  }
  100% {
    top: 100%; 
    opacity: 1;
  }
}

@keyframes slideInDown {
  0% {
    top: -100%; 
    opacity: 0;
  }
  100% {
    top: 100%; 
    opacity: 1;
  }
}


#sk_tree_buttons {
  position: relative;

  display: flex; 
  flex-flow: row nowrap; 
  justify-content: center; 
}

#sk_tree_buttons button {
  width: 60%; 

  border: 1px solid rgb(240, 240, 240); 
  border-bottom: none; 
  border-radius: 10px 10px 0 0; 

  padding: 5px 10px; 

  background: rgba(0, 0, 0, 0); 
  color: rgb(40, 90, 130);   
  font-size: 1.4em; 
  text-align: center;

  -webkit-transition: color 0.2s ease, background-color 0.2s ease;
  -moz-transition:    color 0.2s ease, background-color 0.2s ease;
  -o-transition:      color 0.2s ease, background-color 0.2s ease;
  transition:         color 0.2s ease, background-color 0.2s ease;
}

#sk_tree_buttons button:active,
#sk_tree_buttons button:focus {
  background: rgb(215, 220, 225); 
  background-size: 100% 100%; 
  color: rgb(11, 11, 21); 
}

#sk_tree_buttons .sk_tree_button_group {
  visibility: hidden;
  
  position: absolute; 
  top: 100%; 
  left: 50%; 
  z-index: 2000; 

  width: 60%; 
  transform: translate(-50%, 0); 

  background: rgb(215, 220, 225); 
  border: 1px solid rgb(240, 240, 240); 
  border-top: none; 
  border-radius: 0 0 10px 10px; 
 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 
              0 3px 6px rgba(0, 0, 0, 0.23);

  /* Align text children like cute ducks in a line */
  display: flex; 
  flex-flow: column nowrap; 
  justify-content: center; 
  align-items: center; 
}

#sk_tree_buttons .sk_tree_button_group.slideInDown {
  visibility: visible; 

  -webkit-animation: slideInDown 0.4s both;
  animation: slideInDown 0.4s both;
}

#sk_tree_buttons .sk_tree_button_group > div {  
  width: 100%; 
  min-height: 40px;
  height: 4vh;

  background: rgb(215, 220, 225); 
  background-size: 100% 100%; 
  
  color: rgb(11, 11, 21); 
  font-size: 1.2rem; 
  text-align: center; 

  display: flex;
  justify-content: center;
  align-items: center; 
}

#sk_tree_buttons .sk_tree_button_group > div:hover {
  background: rgb(190, 195, 200); 
}

#tab_skills_page {
  width: 100%; 
  padding: 0 3vw; 
}

#sk_container_l {
  position: relative; 
  width: 100%; 
  padding: 0 10px; 

  border-image: url("../img/borders/skill_border.png") 3 15 repeat;
  border-top: 3px solid transparent; 
  border-bottom: 3px solid transparent; 
}

#sk_container_l::before,
#sk_container_l::after,
#sk_container_r::before,
#sk_container_r::after {
  content: ""; 
  position: absolute; 
  height: 15px; 
  width: 3px;  
}

#sk_container_l::before {
  top: 0; 
  left: 0; 
  background: url("../img/borders/corner-topleft.png") no-repeat; 
}
 
#sk_container_l::after {
  bottom: 0; 
  left: 0; 
  background: url("../img/borders/corner-bottomleft.png") no-repeat; 
}

#sk_container_r::before {
  top: 0; 
  right: 0; 
  background: url("../img/borders/corner-topright.png") no-repeat; 
}

#sk_container_r::after {
  bottom: 0; 
  right: 0; 
  background: url("../img/borders/corner-bottomright.png") no-repeat; 
}


.sk_tree {
  display: flex; 
  flex-flow: column nowrap; 
  justify-content: space-evenly; 
}

.sk_subtree {
  display: flex; 
  flex-flow: row nowrap; 
  justify-content: space-evenly; 

  background:         url("../img/skills/background-90deg.png") 0 0 no-repeat;
  background-size:    25% 100%;  

  max-height: 33%; 
  
  margin: 3px 0;

  -webkit-transition: background-size 0.4s ease;
  -moz-transition:    background-size 0.4s ease;
  -o-transition:      background-size 0.4s ease;
  transition:         background-size 0.4s ease;
}

.sk_tier {
  position: relative; 
  
  flex-basis: 25%; 
  
  display: flex; 
  flex-flow: column nowrap; 
  justify-content: space-evenly; 
}

.sk_tier:not(:last-child) {
  border-right: 1px solid rgb(40, 100, 140); 
}

.sk_tier:not(:last-child)::before,
.sk_tier:not(:last-child)::after {
  content: ""; 
  position: absolute; 
  border-left: 2px solid white; 
  width: 2px; 
  height: 8%; 
}

.sk_tier:not(:last-child)::before {
  top: 0; 
  right: 0; 
}

.sk_tier:not(:last-child)::after {
  bottom: 0;
  right: 0; 
}

.sk_tier > div {
  position: relative; 

  display: flex; 
  flex-flow: column nowrap; 
  justify-content: center;  
  align-items: center; 

  width: 100%; 
  height: 100%; 
}

.sk_icon {
  display: flex; 
  flex-flow: column nowrap; 
  justify-content: space-around;  

  width: 75%; 
  background-position: center center; 
}

.sk_icon > div {
  position: relative; 
  display: block; 
  z-index: 1200; 

  background: url("../img/skills/icons_atlas.png") 0 0 no-repeat;
  background-size: 1200% 1300%; 
  opacity: 0.2; 

  width: 100%;
  height: 0;
  padding-bottom: 100%;

  -webkit-transition: opacity .2s ease, transform .3s ease, -webkit-filter .3s ease, filter .3s ease;
  -moz-transition:    opacity .2s ease, transform .3s ease, -webkit-filter .3s ease, filter .3s ease;
  -o-transition:      opacity .2s ease, transform .3s ease, -webkit-filter .3s ease, filter .3s ease;
  transition:         opacity .2s ease, transform .3s ease, -webkit-filter .3s ease, filter .3s ease;
}

.sk_icon.sk_invalid > div {
  filter: hue-rotate(180deg);
  -webkit-filter: hue-rotate(180deg);
}

.sk_icon.sk_invalid + .sk_name {
  color: #FF4751;
}

.sk_icon.sk_selected_basic > div,
.sk_icon.sk_selected_aced > div {
  opacity: 1; 
}

.sk_name {
  position: relative; 
  display: block; 

  margin: 0 5px; 

  font-size: 0.9em; 
  line-height: 1em; 

  -webkit-transition: color .2s ease;
  -moz-transition:    color .2s ease;
  -o-transition:      color .2s ease;
  transition:         color .2s ease;
}

