/**********************************/
/*           GENERAL CSS          */
/**********************************/

html {
  /**
    * I can finally use em like a real man 
    * This constraints the font size from a minimum to a maximum (floor and ceiling cap)
    * Parameters are: max font size - min font size, and min-max viewport width to use the max font sizes at 
    */
  font-size: calc(12px + (26 - 12) * ((100vw - 300px) / (1000 - 300)));
  
  box-sizing: border-box; 

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*,
::after,
::before {
  box-sizing: border-box; 
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; /* Fuck nexus and kindle fire */ 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;
} 

button { 
  margin: 0; 

  font-size: inherit; 
  font-family: inherit; 
  line-height: inherit; 
  text-transform: none;
}

body {
  background: rgb(11, 11, 21) url("../img/bg.png"); 
  margin: 0; 
  
  font-family: 'Noto Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01); /* Font "antialiasing" */
  color: rgb(240, 240, 240); 
  line-height: 1.5; 
}

body > div {
  font-family: "DINEngschrift", "Noto Sans", sans-serif; 
}


/**********************************/
/*        HEADER AND FOOTER       */
/**********************************/

div.navbar {
  position: relative; 
  display: flex; 
  flex-flow: row nowrap; 
  justify-content: space-between; 
  align-items: center;
  flex: 1 1 auto; 

  font-family: "Noto Sans", sans-serif; 

  background-color: rgb(50, 55, 60); 
  padding: 1vh 3vw; 
}

div.navbar a {
  font-size: 1.2em; 
  line-height: 2em; 
  text-decoration: none; 
  background-color: transparent; 
  color: rgb(240, 240, 240);  
}

div.navbar a:hover {
  cursor: pointer; 
}

div.navbar a:visited {
  color: rgb(240, 240, 240); 
}

div.navbar button {
  height: 80%; 
  margin: auto 0;

  background-color: transparent; 

  outline: none; 
  border: 1px solid rgb(80, 85, 90); 
  border-radius: 5px; 
	cursor: pointer;
}

div.navbar button > span {
  display: inline-block;
  vertical-align: middle;
  
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(130, 135, 140, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

  width: 1.5em;
  height: 1.5em; 
}

div.navbar .navbar-dropdown {
  max-height: 0;
  overflow: hidden;
  background-color: rgb(50, 55, 60); 
  
  position: absolute; 
  z-index: 2001; 
  top: 100%; 
  left: 50%; 

  width: 100%; 
  transform: translate(-50%, 0); 
  transition: max-height 0.3s ease;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; 
}

div.navbar button:focus + .navbar-dropdown, 
div.navbar button:hover + .navbar-dropdown {
  max-height: 20em; 
}

div.navbar .navbar-dropdown > div {
  padding: 5px 0; 
}

div.navbar .navbar-dropdown a {
  font-size: 1em; 
}

div.navbar .navbar-dropdown a:not(.current) {
  color: rgba(240, 240, 240, 0.5); 
}

div.navbar .navbar-dropdown a:not(.current):active,
div.navbar .navbar-dropdown a:not(.current):hover {
  color: rgba(240, 240, 240, 0.75); 
}

select {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 82px; 
  height: 30px; 
  padding: 2px 8px;
  outline: none;
  color: rgb(40, 40, 40);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px rgb(215, 220, 225);
  background: rgb(240, 240, 240) url("../img/dropdown-arrow.png") 95% / 15% no-repeat;  
}

#title {
  display: flex;
  justify-content: space-evenly; 
  
  padding: 1vh 0;

  font-size: 1.5em; 
}

#title p {
  margin: auto 0; 
  padding: 0; 
}


div.footer {
  width: 100%; 
  padding: 2vh 6vw; 
  font-family: "Noto Sans", sans-serif; 
  font-size: 0.5em; 
  font-style: italic; 

  display: flex; 
  flex-flow: column nowrap; 
  justify-content: center;
  align-items: center; 
}

div.footer span {
  text-align: center; 
}

div.footer a,
div.footer a:visited,
div.footer a:focus,
div.footer a:hover {
  color: rgb(240, 240, 240); 
}

.bordered {
  padding: 20px;

  background:
    linear-gradient(to right, rgb(215, 220, 225) 3px, transparent 3px) 0 0,
    linear-gradient(to right, rgb(215, 220, 225) 3px, transparent 3px) 0 100%,
    linear-gradient(to left, rgb(215, 220, 225) 3px, transparent 3px) 100% 0,
    linear-gradient(to left, rgb(215, 220, 225) 3px, transparent 3px) 100% 100%,
    linear-gradient(to bottom, rgb(215, 220, 225) 3px, transparent 3px) 0 0,
    linear-gradient(to bottom, rgb(215, 220, 225) 3px, transparent 3px) 100% 0,
    linear-gradient(to top, rgb(215, 220, 225) 3px, transparent 3px) 0 100%,
    linear-gradient(to top, rgb(215, 220, 225) 3px, transparent 3px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 15px 15px;
}


/**********************************/
/*          TAB PAGE CSS          */
/**********************************/

#tab_page_buttons_wrapper {
  position: relative; 

  padding-top: 1vh;  
  padding-bottom: 2vh; 
}

#tab_page_buttons_wrapper .fadeLeft,
#tab_page_buttons_wrapper .fadeRight {
  position: absolute; 
  z-index: 1000; 
  
  pointer-events: none;

  width: 50%; 
  height: 100%; 

  top: 50%; 
  transform: translateY(-50%); 
}

#tab_page_buttons_wrapper .fadeLeft {
  left: 0; 

  background: -moz-linear-gradient(left, rgba(0, 10, 30, 1) 0%, rgba(0, 10, 30, 0) 35%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 10, 30, 1) 0%,rgba(0, 10, 30, 0) 35%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 10, 30, 1) 0%,rgba(0, 10, 30, 0) 35%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#tab_page_buttons_wrapper .fadeRight  {
  right: 0; 

  background: -moz-linear-gradient(right, rgba(0, 10, 30, 1) 0%, rgba(0, 10, 30, 0) 35%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, rgba(0, 10, 30, 1) 0%,rgba(0, 10, 30, 0) 35%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, rgba(0, 10, 30, 1) 0%,rgba(0, 10, 30, 0) 35%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#tab_page_buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;   

  overflow-x: scroll; 
  overflow-y: hidden; 

  -webkit-overflow-scrolling: touch; /* "momentum" scrolling" */ 
  overscroll-behavior: contain; /* don't propagate to parent */ 

  scrollbar-width: none; /* Moz experimental */ 
}

#tab_page_buttons::-webkit-scrollbar {
  display: none; 
}

#tab_page_buttons .spacer {
  flex: 1 0 50px; 
}

#tab_page_buttons button {
  position: relative; 
  padding: 5px 10px; 

  border: 1px solid rgb(240, 240, 240); 
  border-right: none; /* "border collapse"-style fix */ 

  background: rgba(0, 0, 0, 0); 
  color: rgb(40, 90, 130);   
  font-size: 1.2em; 
  text-align: center;
  white-space: nowrap;

  -webkit-transition: box-shadow .15s, color .15s linear;
  -moz-transition:    box-shadow .15s, color .15s linear;
  -o-transition:      box-shadow .15s, color .15s linear;
  transition:         box-shadow .15s, color .15s linear;
}

#tab_page_buttons button:first-of-type{
  border-radius: 10px 0 0 10px; 
}

#tab_page_buttons button:last-of-type {
  border-radius: 0 10px 10px 0; 
  border-right: 1px solid rgb(240, 240, 240); 
}

#tab_page_buttons button.tab_selected {
  color: rgb(240, 240, 240); 
  
  -webkit-box-shadow: inset 0px 0px 0px 2px rgb(240, 240, 240); 
  -moz-box-shadow: inset 0px 0px 0px 2px rgb(240, 240, 240); 
  box-shadow: inset 0px 0px 0px 2px rgb(240, 240, 240); 
}

.tab_page_content {
  width: 100%; 
  padding: 0 3vw; 
}

/**********************************/
/*            SKILL CSS           */
/**********************************/


#sk_tree_buttons {
  position: relative;

  display: flex; 
  flex-flow: row nowrap; 
  justify-content: center; 
}

#sk_tree_buttons button {
  width: 60%; 

  border: 1px solid rgb(240, 240, 240); 
  border-bottom: none; 
  border-radius: 10px 10px 0 0; 

  padding: 5px 10px; 

  background: rgba(0, 0, 0, 0); 
  color: rgb(40, 90, 130);   
  font-size: 1.4em; 
  text-align: center;

  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  -moz-transition:    color 0.3s ease, background-color 0.3s ease;
  -o-transition:      color 0.3s ease, background-color 0.3s ease;
  transition:         color 0.3s ease, background-color 0.3s ease;
}

#sk_tree_buttons button:focus,
#sk_tree_buttons button:hover {
  background: rgb(215, 220, 225); 
  background-size: 100% 100%; 
  color: rgb(11, 11, 21); 
}

#sk_tree_buttons .sk_tree_button_group {
  max-height: 0;
  overflow: hidden;
  
  position: absolute; 
  top: 100%; 
  left: 50%; 
  z-index: 2000; 

  width: 60%; 
  transform: translate(-50%, 0); 
  transition: max-height 0.3s ease;

  background: rgb(215, 220, 225); 
  border: 1px solid rgb(240, 240, 240); 
  border-top: none; 
  border-radius: 0 0 10px 10px; 
 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 
              0 3px 6px rgba(0, 0, 0, 0.23);

  /* Align text children like cute ducks in a line */
  display: flex; 
  flex-flow: column nowrap; 
  justify-content: center; 
  align-items: center; 
}

#sk_tree_buttons button:focus + .sk_tree_button_group,
#sk_tree_buttons button:hover + .sk_tree_button_group {
  max-height: 20em;
}

.sk_tree_button_group > div {  
  width: 100%; 
  min-height: 40px;
  height: 4vh;

  background: rgb(215, 220, 225); 
  background-size: 100% 100%; 
  
  color: rgb(11, 11, 21); 
  font-size: 1.2rem; 
  text-align: center; 

  display: flex;
  justify-content: center;
  align-items: center; 
}

.sk_tree_button_group > div:focus,
.sk_tree_button_group > div:hover {
  background: rgb(190, 195, 200); 
}

.sk_tree_button_group > div.sk_tree_button_active {
  color: rgb(240, 240, 240);
  background: rgb(55, 120, 175); 
}

#sk_container_l {
  position: relative; 
  width: 100%; 
  padding: 0 10px; 

  border-image: url("../img/borders/skill_border.png") 3 15 repeat;
  border-top: 3px solid transparent; 
  border-bottom: 3px solid transparent; 
}

#sk_container_l::before,
#sk_container_l::after,
#sk_container_r::before,
#sk_container_r::after {
  content: ""; 
  position: absolute; 
  height: 15px; 
  width: 3px;  
}

#sk_container_l::before {
  top: 0; 
  left: 0; 
  background: url("../img/borders/corner-topleft.png") no-repeat; 
}
 
#sk_container_l::after {
  bottom: 0; 
  left: 0; 
  background: url("../img/borders/corner-bottomleft.png") no-repeat; 
}

#sk_container_r::before {
  top: 0; 
  right: 0; 
  background: url("../img/borders/corner-topright.png") no-repeat; 
}

#sk_container_r::after {
  bottom: 0; 
  right: 0; 
  background: url("../img/borders/corner-bottomright.png") no-repeat; 
}


.sk_tree {
  display: flex; 
  flex-flow: column nowrap; 
  justify-content: space-evenly; 
}

.sk_subtree {
  display: flex; 
  flex-flow: row nowrap; 
  justify-content: space-evenly; 

  background:         url("../img/skills/background-90deg.png") 0 0 no-repeat;
  background-size:    25% 100%;  

  max-height: 33%; 
  
  margin: 3px 0;

  -webkit-transition: background-size 0.4s ease;
  -moz-transition:    background-size 0.4s ease;
  -o-transition:      background-size 0.4s ease;
  transition:         background-size 0.4s ease;
}

.sk_tier {
  position: relative; 
  
  padding: 3px 0; 
  flex-basis: 25%; 
  
  display: flex; 
  flex-flow: column nowrap; 
  justify-content: space-evenly; 
}

.sk_tier:not(:last-child) {
  border-right: 1px solid rgb(40, 100, 140); 
}

.sk_tier:not(:last-child)::before,
.sk_tier:not(:last-child)::after {
  content: ""; 
  position: absolute; 
  border-left: 2px solid white; 
  width: 2px; 
  height: 8%; 
}

.sk_tier:not(:last-child)::before {
  top: 0; 
  right: 0; 
}

.sk_tier:not(:last-child)::after {
  bottom: 0;
  right: 0; 
}

.sk_tier > div {
  position: relative; 

  display: flex; 
  flex-flow: column nowrap; 
  justify-content: center;  
  align-items: center; 

  width: 100%; 
  height: 100%; 
}

.sk_icon {
  display: flex; 
  flex-flow: column nowrap; 
  justify-content: space-around;  

  width: 75%; 
  background-position: center center; 
}

.sk_icon > div {
  position: relative; 
  display: block; 
  z-index: 1200; 

  background: url("../img/skills/icons_atlas.png") 0 0 no-repeat;
  background-size: 1200% 1300%; 
  opacity: 0.2; 

  width: 100%;
  height: 0;
  padding-bottom: 100%;

  -webkit-transition: opacity .2s ease, transform .2s ease, -webkit-filter .2s ease, filter .2s ease;
  -moz-transition:    opacity .2s ease, transform .2s ease, -webkit-filter .2s ease, filter .2s ease;
  -o-transition:      opacity .2s ease, transform .2s ease, -webkit-filter .2s ease, filter .2s ease;
  transition:         opacity .2s ease, transform .2s ease, -webkit-filter .2s ease, filter .2s ease;
}

.sk_icon.sk_locked, 
.sk_icon.sk_selected_aced {
  background-position: center center; 
  background-repeat: no-repeat; 
}

.sk_icon.sk_locked {
  background-image: url("../img/skills/padlock.png");
  background-size: 50%; 
}

.sk_icon.sk_selected_aced {
  background-image: url("../img/skills/ace.png");
  background-size: 125%; 
}

.sk_icon.sk_invalid > div {
  filter: hue-rotate(180deg);
  -webkit-filter: hue-rotate(180deg);
}

.sk_icon.sk_invalid + .sk_name {
  color: #FF4751;
}

.sk_icon.sk_selected_basic > div,
.sk_icon.sk_selected_aced > div {
  opacity: 1; 
}

.sk_name {
  position: relative; 
  display: block; 

  margin: 0 5px; 

  font-size: 0.9em; 
  line-height: 1em; 
  text-align: center; 

  -webkit-transition: color .1s ease;
  -moz-transition:    color .1s ease;
  -o-transition:      color .1s ease;
  transition:         color .1s ease;
}


/**********************************/
/*            ARMOR CSS           */
/**********************************/

#arm_page {
  display: flex; 
  flex-flow: row wrap; 
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start; 
}

.arm_icon {
  cursor: pointer; 

  display: flex; 
  flex-flow: row nowrap; 
  justify-content: center;
  
  flex-basis: 50%; 
  width: 50%; 
  
  max-width: 256px; 

  border: 3px solid transparent; 
}

.arm_icon > div {
  position: relative;
  display: block; 
  z-index: -1;
  
  width: 100%; 
  height: 0; 
  padding-bottom: 100%; 

  background-size: 100%; 
  background-repeat: no-repeat; 
  background-position: center center; 

  -webkit-transition: transform .2s ease;
  -moz-transition: transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;

  transform: scale(0.85); 
}

.arm_icon.arm_selected {
  border: 3px solid rgb(240, 240, 240); 
}

.arm_icon.arm_locked {
  background: url("../img/lock_skill.png") no-repeat center center;
}

.arm_icon.arm_locked > div {
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2);
}

.arm_icon.arm_selected > div {
  transform: scale(1); 
}

.arm_icon.arm_selected > div::before {
  font-size: 1em; /* UNTESTED !!!!!!! TODO */

  position: absolute; 
  top: 10%;
  left: 10%;
}

.arm_icon.arm_selected > div::before {
  content: attr(data-equip);
}

#suit {
  background-image: url("../img/armors/suit.png"); 
}

#light_ballistic {
  background-image: url("../img/armors/light_ballistic.png"); 
}

#ballistic {
  background-image: url("../img/armors/ballistic.png"); 
}

#heavy_ballistic {
  background-image: url("../img/armors/heavy_ballistic.png"); 
}

#flak {
  background-image: url("../img/armors/flak.png"); 
}

#ctv {
  background-image: url("../img/armors/ctv.png"); 
}

#ictv {
  background-image: url("../img/armors/ictv.png"); 
}
