/**********************************/
/*          PERK DECKS CSS        */
/**********************************/

#pk_description_container {
  padding: 0 10px; 
}

#pk_container_r,
#pk_description_t {
  overflow-y: auto; 
  overflow-x: hidden; 
}

#pk_container_r {
  height: 60vh; 
  padding: 0 10px; 
}

#pk_description_t {
  margin: 15px 5px;
  padding: 0 5px; 
  flex-basis: 0px; 
  flex-grow: 1; 
}

#pk_container_r::-webkit-scrollbar,
#pk_description_t::-webkit-scrollbar,
#pk_card_t::-webkit-scrollbar {
  width: 4px; 
}

#pk_container_r::-webkit-scrollbar-track,
#pk_description_t::-webkit-scrollbar-track, 
#pk_card_t::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);   
}

#pk_container_r::-webkit-scrollbar-thumb, 
#pk_description_t::-webkit-scrollbar-thumb,
#pk_card_t::-webkit-scrollbar-thumb  {
  background-color: rgb(240, 240, 240); 
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#pk_description_container {
  display: inline-flex;  
  flex-direction: column; 
  min-width: 25%; 
}



.pk_deck {
  cursor: pointer; 
  position: relative; 
  border: 2px solid transparent; 
  margin: 12px 18px; 
  padding: 35px 5px 15px; 
}

.pk_deck:hover {
  border: 2px solid rgb(190, 190, 190); 
}

.pk_deck > p {
  font-size: 18pt; 
  position: absolute; 
  top: 0; 
  left: 10px; 
}

.pk_deck > div {
  width: 64px; 
  height: 92px; 
  top: 30px; 
  margin: 0 auto; 
  background: url("../img/perks/card.png") no-repeat; 

  -webkit-transition: opacity .15s ease;
  -moz-transition:    opacity .15s ease;
  -o-transition:      opacity .15s ease;
  transition:         opacity .15s ease;
}

.pk_deck > div.pk_card_dim {
  opacity: 0.8; 
}

.pk_deck > div::after {
  width: 48px; 
  height: 48px; 

  display: block;
  margin: 22px auto 0; /* Center vertically inside card */
  
  content: ""; 
  background: url("../img/perks/icons.png") no-repeat; 
}

.pk_deck.pk_selected {
  background-color: rgba(0, 0, 0, 0.2); 
  border: 2px solid rgb(240, 240, 240); 
}

.pk_deck.pk_deck_dim {
  opacity: 0.6; 
}

