/**********************************/
/* PERKS ICON SPRITESHEET OFFSETS */
/**********************************/

/* SHARED */

.pk_deck > div:nth-of-type(2)::after {
  background-position: -48px 0; 
}
.pk_deck > div:nth-of-type(4)::after {
  background-position: -96px 0; 
}
.pk_deck > div:nth-of-type(6)::after {
  background-position: -144px 0; 
}
.pk_deck > div:nth-of-type(8)::after {
  background-position: -192px 0; 
}


/* CREW CHIEF */ 

#crew_chief > div:nth-of-type(1)::after {
  background-position: 0 -48px; 
}
#crew_chief > div:nth-of-type(3)::after {
  background-position: -48px -48px ; 
}
#crew_chief > div:nth-of-type(5)::after {
  background-position: -96px -48px ; 
}
#crew_chief > div:nth-of-type(7)::after {
  background-position: -144px -48px ; 
}
#crew_chief > div:nth-of-type(9)::after {
  background-position: -192px -48px ; 
}


/* MUSCLE */ 

#muscle > div:nth-of-type(1)::after {
  background-position: 0 -96px; 
}
#muscle > div:nth-of-type(3)::after {
  background-position: -48px -96px ; 
}
#muscle > div:nth-of-type(5)::after {
  background-position: -96px -96px ; 
}
#muscle > div:nth-of-type(7)::after {
  background-position: -144px -96px ; 
}
#muscle > div:nth-of-type(9)::after {
  background-position: -192px -96px ; 
}


/* ARMORER */ 

#armorer > div:nth-of-type(1)::after {
  background-position: 0 -144px; 
}
#armorer > div:nth-of-type(3)::after {
  background-position: -48px -144px ; 
}
#armorer > div:nth-of-type(5)::after {
  background-position: -96px -144px ; 
}
#armorer > div:nth-of-type(7)::after {
  background-position: -144px -144px ; 
}
#armorer > div:nth-of-type(9)::after {
  background-position: -192px -144px ; 
}


/* ROGUE */ 

#rogue > div:nth-of-type(1)::after {
  background-position: 0 -192px; 
}
#rogue > div:nth-of-type(3)::after {
  background-position: -48px -192px ; 
}
#rogue > div:nth-of-type(5)::after {
  background-position: -96px -192px ; 
}
#rogue > div:nth-of-type(7)::after {
  background-position: -144px -192px ; 
}
#rogue > div:nth-of-type(9)::after {
  background-position: -192px -192px ; 
}


/* HITMAN */ 

#hitman > div:nth-of-type(1)::after {
  background-position: 0 -240px; 
}
#hitman > div:nth-of-type(3)::after {
  background-position: -48px -240px ; 
}
#hitman > div:nth-of-type(5)::after {
  background-position: -96px -240px ; 
}
#hitman > div:nth-of-type(7)::after {
  background-position: -144px -240px ; 
}
#hitman > div:nth-of-type(9)::after {
  background-position: -192px -240px ; 
}

/* CROOK */ 

#crook > div:nth-of-type(1)::after {
  background-position: 0 -288px; 
}
#crook > div:nth-of-type(3)::after {
  background-position: -48px -288px ; 
}
#crook > div:nth-of-type(5)::after {
  background-position: -96px -288px ; 
}
#crook > div:nth-of-type(7)::after {
  background-position: -144px -288px ; 
}
#crook > div:nth-of-type(9)::after {
  background-position: -192px -288px ; 
}


/* BURGLAR */ 

#burglar > div:nth-of-type(1)::after {
  background-position: 0 -336px; 
}
#burglar > div:nth-of-type(3)::after {
  background-position: -48px -336px ; 
}
#burglar > div:nth-of-type(5)::after {
  background-position: -96px -336px ; 
}
#burglar > div:nth-of-type(7)::after {
  background-position: -144px -336px ; 
}
#burglar > div:nth-of-type(9)::after {
  background-position: -192px -336px ; 
}


/* INFILTRATOR */ 

#infiltrator > div:nth-of-type(1)::after {
  background-position: 0 -384px; 
}
#infiltrator > div:nth-of-type(3)::after {
  background-position: -48px -384px ; 
}
#infiltrator > div:nth-of-type(5)::after {
  background-position: -96px -384px ; 
}
#infiltrator > div:nth-of-type(7)::after {
  background-position: -144px -384px ; 
}
#infiltrator > div:nth-of-type(9)::after {
  background-position: -192px -384px ; 
}


/* SOCIOPATH */ 

#sociopath > div:nth-of-type(1)::after {
  background-position: 0 -432px; 
}
#sociopath > div:nth-of-type(3)::after {
  background-position: -48px -432px ; 
}
#sociopath > div:nth-of-type(5)::after {
  background-position: -96px -432px ; 
}
#sociopath > div:nth-of-type(7)::after {
  background-position: -144px -432px ; 
}
#sociopath > div:nth-of-type(9)::after {
  background-position: -192px -432px ; 
}


/* GAMBLER */ 

#gambler > div:nth-of-type(1)::after {
  background-position: 0 -480px; 
}
#gambler > div:nth-of-type(3)::after {
  background-position: -48px -480px ; 
}
#gambler > div:nth-of-type(5)::after {
  background-position: -96px -480px ; 
}
#gambler > div:nth-of-type(7)::after {
  background-position: -144px -480px ; 
}
#gambler > div:nth-of-type(9)::after {
  background-position: -192px -480px ; 
}


/* GRINDER */ 

#grinder > div:nth-of-type(1)::after {
  background-position: 0 -528px; 
}
#grinder > div:nth-of-type(3)::after {
  background-position: -48px -528px ; 
}
#grinder > div:nth-of-type(5)::after {
  background-position: -96px -528px ; 
}
#grinder > div:nth-of-type(7)::after {
  background-position: -144px -528px ; 
}
#grinder > div:nth-of-type(9)::after {
  background-position: -192px -528px ; 
}


/* YAKUZA */ 

#yakuza > div:nth-of-type(1)::after {
  background-position: 0 -576px; 
}
#yakuza > div:nth-of-type(3)::after {
  background-position: -48px -576px ; 
}
#yakuza > div:nth-of-type(5)::after {
  background-position: -96px -576px ; 
}
#yakuza > div:nth-of-type(7)::after {
  background-position: -144px -576px ; 
}
#yakuza > div:nth-of-type(9)::after {
  background-position: -192px -576px ; 
}


/* EX-PRESIDENT */ 

#ex-president > div:nth-of-type(1)::after {
  background-position: 0 -624px; 
}
#ex-president > div:nth-of-type(3)::after {
  background-position: -48px -624px ; 
}
#ex-president > div:nth-of-type(5)::after {
  background-position: -96px -624px ; 
}
#ex-president > div:nth-of-type(7)::after {
  background-position: -144px -624px ; 
}
#ex-president > div:nth-of-type(9)::after {
  background-position: -192px -624px ; 
}


/* MANIAC */ 

#maniac > div:nth-of-type(1)::after {
  background-position: 0 -672px; 
}
#maniac > div:nth-of-type(3)::after {
  background-position: -48px -672px ; 
}
#maniac > div:nth-of-type(5)::after {
  background-position: -96px -672px ; 
}
#maniac > div:nth-of-type(7)::after {
  background-position: -144px -672px ; 
}
#maniac > div:nth-of-type(9)::after {
  background-position: -192px -672px ; 
}


/* ANARCHIST */ 

#anarchist > div:nth-of-type(1)::after {
  background-position: 0 -720px; 
}
#anarchist > div:nth-of-type(3)::after {
  background-position: -48px -720px ; 
}
#anarchist > div:nth-of-type(5)::after {
  background-position: -96px -720px ; 
}
#anarchist > div:nth-of-type(7)::after {
  background-position: -144px -720px ; 
}
#anarchist > div:nth-of-type(9)::after {
  background-position: -192px -720px ; 
}


/* BIKER */ 

#biker > div:nth-of-type(1)::after {
  background-position: 0 -768px; 
}
#biker > div:nth-of-type(3)::after {
  background-position: -48px -768px ; 
}
#biker > div:nth-of-type(5)::after {
  background-position: -96px -768px ; 
}
#biker > div:nth-of-type(7)::after {
  background-position: -144px -768px ; 
}
#biker > div:nth-of-type(9)::after {
  background-position: -192px -768px ; 
}


/* KINGPIN */ 

#kingpin > div:nth-of-type(1)::after {
  background-position: 0 -816px; 
}
#kingpin > div:nth-of-type(3)::after {
  background-position: -48px -816px ; 
}
#kingpin > div:nth-of-type(5)::after {
  background-position: -96px -816px ; 
}
#kingpin > div:nth-of-type(7)::after {
  background-position: -144px -816px ; 
}
#kingpin > div:nth-of-type(9)::after {
  background-position: -192px -816px ; 
}


/* SICARIO */ 

#sicario > div:nth-of-type(1)::after {
  background-position: 0 -864px; 
}
#sicario > div:nth-of-type(3)::after {
  background-position: -48px -864px ; 
}
#sicario > div:nth-of-type(5)::after {
  background-position: -96px -864px ; 
}
#sicario > div:nth-of-type(7)::after {
  background-position: -144px -864px ; 
}
#sicario > div:nth-of-type(9)::after {
  background-position: -192px -864px ; 
}


/* STOIC */ 

#stoic > div:nth-of-type(1)::after {
  background-position: 0 -912px; 
}
#stoic > div:nth-of-type(3)::after {
  background-position: -48px -912px ; 
}
#stoic > div:nth-of-type(5)::after {
  background-position: -96px -912px ; 
}
#stoic > div:nth-of-type(7)::after {
  background-position: -144px -912px ; 
}
#stoic > div:nth-of-type(9)::after {
  background-position: -192px -912px ; 
}


/* TAG TEAM */ 

#tag_team > div:nth-of-type(1)::after {
  background-position: 0 -960px; 
}
#tag_team > div:nth-of-type(3)::after {
  background-position: -48px -960px ; 
}
#tag_team > div:nth-of-type(5)::after {
  background-position: -96px -960px ; 
}
#tag_team > div:nth-of-type(7)::after {
  background-position: -144px -960px ; 
}
#tag_team > div:nth-of-type(9)::after {
  background-position: -192px -960px ; 
}


/* HACKER */ 

#hacker > div:nth-of-type(1)::after {
  background-position: 0 -1008px; 
}
#hacker > div:nth-of-type(3)::after {
  background-position: -48px -1008px ; 
}
#hacker > div:nth-of-type(5)::after {
  background-position: -96px -1008px ; 
}
#hacker > div:nth-of-type(7)::after {
  background-position: -144px -1008px ; 
}
#hacker > div:nth-of-type(9)::after {
  background-position: -192px -1008px ; 
}