/**********************************/
/* SKILL ICON SPRITESHEET OFFSETS */
/**********************************/

/* MASTERMIND */

/* Medic */
#combat_medic {
    background-position: -400px -560px; 
  }
  #quick_fix {
    background-position: -80px -880px;
  }
  #painkillers {
    background-position: 0px -800px; 
  }
  #uppers {
    background-position: -160px -880px; 
  }
  #combat_doctor {
    background-position: -400px -640px; 
  }
  #inspire {
    background-position: -320px -720px; 
  }
  
  /* Controller */
  #forced_friendship {
    background-position: -320px -560px; 
  }
  #confident {
    background-position: -160px -640px; 
  }
  #joker {
    background-position: -480px -640px; 
  }
  #stockholm_syndrome {
    background-position: -240px -640px; 
  }
  #partners_in_crime {
    background-position: -80px -800px; 
  }
  #hostage_taker {
    background-position: -160px -800px; 
  }
  
  /* Sharpshooter */
  #stable_shot {
    background-position: 0px -400px; 
  }
  #rifleman {
    background-position: -480px -400px; 
  }
  #marksman {
    background-position: -640px -80px; 
  }
  #ammo_efficiency {
    background-position: -640px -320px; 
  }
  #aggressive_reload {
    background-position: -640px -240px; 
  }
  #graze {
    background-position: -880px -720px;
  }
  
  
  /* ENFORCER */
  
  /* Shotgunner */
  #underdog {
    background-position: -160px -80px; 
  }
  #shotgun_cqb {
    background-position: -640px -560px; 
  }
  #shotgun_impact {
    background-position: -320px -80px; 
  }
  #far_away {
    background-position: -640px -400px; 
  }
  #close_by {
    background-position: -640px -480px; 
  }
  #overkill {
    background-position: -240px -160px; 
  }
  
  /* Tank */
  #resilience {
    background-position: -160px -960px; 
  }
  #die_hard {
    background-position: -640px -720px; 
  }
  #transporter {
    background-position: -640px -640px; 
  }
  #shock_and_awe {
    background-position: -640px -800px; 
  }
  #bullseye {
    background-position: -480px -880px; 
  }
  #iron_man {
    background-position: -240px -80px; 
  }
  
  /* Ammo Specialist */
  #scavenger {
    background-position: -640px -880px; 
  }
  #bulletstorm {
    background-position: -320px -400px; 
  }
  #portable_saw {
    background-position: 0px -80px; 
  }
  #extra_lead {
    background-position: -560px -80px; 
  }
  #saw_massacre {
    background-position: 0px -160px; 
  }
  #fully_loaded { 
    background-position: -240px 0px;
  }
  
  
  /* TECHNICIAN */
  
  /* Engineer */
  #third_law {
    background-position: -720px 0px; 
  }
  #sentry_targeting_package {
    background-position: -720px -80px; 
  }
  #eco_sentry {
    background-position: -720px -160px; 
  }
  #engineering {
    background-position: -720px -240px; 
  }
  #jack_of_all_trades {
    background-position: -720px -320px; 
  }
  #tower_defense {
    background-position: -720px -400px; 
  }
  
  /* Breacher */
  #hardware_expert {
    background-position: -720px -480px; 
  }
  #combat_engineering {
    background-position: -80px -400px; 
  }
  #drill_sawgeant {
    background-position: -240px -480px; 
  }
  #more_firepower {
    background-position: -720px -560px; 
  }
  #kickstarter {
    background-position: -720px -640px; 
  }
  #fire_trap {
    background-position: -720px -720px; 
  }
  
  /* Oppressor */
  #steady_grip {
    background-position: -720px -880px; 
  }
  #heavy_impact {
    background-position: -800px -80px; 
  }
  #fire_control {
    background-position: -720px -800px; 
  }
  #lock_n_load {
    background-position: -800px 0px; 
  }
  #surefire {
    background-position: -800px -160px; 
  }
  #body_expertise {
    background-position: -800px -240px; 
  }
  
  
  /* GHOST */
  
  /* Shinobi */
  #chameleon {
    background-position: -400px -240px; 
  }
  #cleaner {
    background-position: -560px -160px; 
  }
  #sixth_sense {
    background-position: -480px -800px; 
  }
  #nimble {
    background-position: -800px -320px; 
  }
  #ecm_overdrive {
    background-position: -480px -240px; 
  }
  #ecm_specialist {
    background-position: -240px -320px; 
  }
  
  /* Artful Dodger */
  #duck_and_cover {
    background-position: -800px -400px; 
  }
  #parkour {
    background-position: -800px -480px; 
  }
  #inner_pockets {
    background-position: -800px -560px; 
  }
  #dire_need {
    background-position: -800px -640px; 
  }
  #shockproof {
    background-position: -240px -400px; 
  }
  #sneaky_bastard {
    background-position: -80px -960px; 
  }
  
  /* Silent Killer */
  #second_wind {
    background-position: -800px -720px; 
  }
  #optical_illusions {
    background-position: -800px -800px; 
  }
  #the_professional {
    background-position: -320px -320px; 
  }
  #low_blow {
    background-position: 0px -960px; 
  }
  #high_value_target {
    background-position: -640px -160px; 
  }
  #unseen_strike {
    background-position: -800px -880px; 
  }
  
  
  /* FUGITIVE */
  
  /* Gunslinger */
  #equilibrium {
    background-position: -240px -720px; 
  }
  #gun_nut {
    background-position: -880px 0px; 
  }
  #akimbo {
    background-position: -240px -880px; 
  }
  #one_handed_talent {
    background-position: -560px -880px; 
  }
  #desperado {
    background-position: -880px -80px; 
  }
  #trigger_happy {
    background-position: -880px -160px; 
  }
  
  /* Revenant */
  #nine_lives {
    background-position: -400px -160px; 
  }
  #running_from_death {
    background-position: -880px -240px; 
  }
  #up_you_go {
    background-position: -880px -320px; 
  }
  #swan_song {
    background-position: -400px -960px; 
  }
  #feign_death {
    background-position: -880px -400px; 
  }
  #messiah {
    background-position: -160px -720px; 
  }
  
  /* Brawler */
  #martial_arts {
    background-position: -880px -560px; 
  }
  #bloodthirst {
    background-position: -880px -480px; 
  }
  #pumping_iron {
    background-position: -80px -240px; 
  }
  #counterstrike {
    background-position: -320px -960px; 
  }
  #berserker {
    background-position: -160px -160px; 
  }
  #frenzy {
    background-position: -880px -640px; 
  }
  