/**********************************/
/*           GENERAL CSS          */
/**********************************/

body {
  background: rgb(11, 11, 21) url("/img/bg.png"); 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01); /* Font "antialiasing" */
  color: rgb(240, 240, 240); 
}

body > div {
  font-family: "DINEngschrift"; 
}


.font-size-13 {
  font-size: 13pt; 
}

.font-size-14 {
  font-size: 14pt; 
}

.font-size-16,
.description_title {
  font-size: 16pt; 
}

.font-size-20 {
  font-size: 20pt; 
}


#tab_page_buttons {
  padding-bottom: 50px; 
}


.page_gutter {
  padding: 0 15px; 
}

.description_container {
  padding: 0px 25px 10px 25px; 
  background-clip: padding-box; 
  border-left: 10px solid transparent; /* used as margin-left but without wrapping */
}

.corners_t {
  padding: 20px; 
}


.corners_t::before,
.corners_t::after,
.corners_b::before,
.corners_b::after,
.corners_l::before,
.corners_l::after,
.corners_r::before,
.corners_r::after {
  content: ""; 
  position: absolute; 
  background: rgb(215, 220, 225); 
}

.corners_t::before,
.corners_t::after,
.corners_b::before,
.corners_b::after {
  height: 3px; 
  width: 15px;  
}

.corners_l::before,
.corners_l::after,
.corners_r::before,
.corners_r::after {
  height: 15px; 
  width: 3px;  
}

.corners_t::before {
  top: 0; 
  left: 0;
}

.corners_t::after {
  top: 0; 
  right: 0; 
}

.corners_b::before {
  bottom: 0; 
  left: 0; 
}

.corners_b::after {
  bottom: 0; 
  right: 0; 
}

.corners_l::before {
  top: 0; 
  left: 0; 
}

.corners_l::after {
  bottom: 0; 
  left: 0; 
}

.corners_r::before {
  top: 0; 
  right: 0; 
}

.corners_r::after {
  bottom: 0; 
  right: 0; 
}