/**********************************/
/*           GENERAL CSS          */
/**********************************/

@font-face {
  font-family: "DINEngschrift";
  src: local("/css/fonts/DINEngschrift.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: rgb(11, 11, 21) url("/img/bg.png"); 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01); /* Font "antialiasing" */
  color: rgb(240, 240, 240); 
}

body > div {
  font-family: "DINEngschrift"; 
}


#tab_page_buttons {
  padding-bottom: 50px; 
}
