/**********************************/
/*           GENERAL CSS          */
/**********************************/

body {
  background: rgb(11, 11, 21) url("/img/bg.png"); 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01); /* Font "antialiasing" */
  color: rgb(240, 240, 240); 
}

body > div {
  font-family: "DINEngschrift"; 
}


#tab_page_buttons {
  padding-bottom: 50px; 
}


.corners_t::before {
  content: ""; 
  position: absolute; 
  left: 0; 
  top: 0; 
  height: 3px; 
  width: 15px;  
  background: rgb(215, 220, 225); 
}

.corners_t::after {
  content: ""; 
  position: absolute; 
  right: 0; 
  top: 0; 
  height: 3px; 
  width: 15px;  
  background: rgb(215, 220, 225); 
}

.corners_b::before {
  content: ""; 
  position: absolute; 
  left: 0; 
  bottom: 0; 
  height: 3px; 
  width: 15px;  
  background: rgb(215, 220, 225); 
}

.corners_b::after {
  content: ""; 
  position: absolute; 
  right: 0; 
  bottom: 0; 
  height: 3px; 
  width: 15px;  
  background: rgb(215, 220, 225); 
}

.corners_l::before {
  content: ""; 
  position: absolute; 
  left: 0; 
  top: 0; 
  height: 15px; 
  width: 3px;  
  background: rgb(215, 220, 225); 
}

.corners_l::after {
  content: ""; 
  position: absolute; 
  left: 0; 
  bottom: 0; 
  height: 15px; 
  width: 3px;  
  background: rgb(215, 220, 225); 
}

.corners_r::before {
  content: ""; 
  position: absolute; 
  right: 0; 
  top: 0; 
  height: 15px; 
  width: 3px;  
  background: rgb(215, 220, 225); 
}

.corners_r::after {
  content: ""; 
  position: absolute; 
  right: 0; 
  bottom: 0; 
  height: 15px; 
  width: 3px;  
  background: rgb(215, 220, 225); 
}