/**********************************/
/*           GENERAL CSS          */
/**********************************/

body {
  background: rgb(11, 11, 21) url("/img/bg.png"); 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01); /* Font "antialiasing" */
  color: rgb(240, 240, 240); 
}

body > div {
  font-family: "DINEngschrift"; 
}

.modal {
  color: rgb(40, 40, 40);  
}

.modal-body {
  font-size: 14pt; 
}

.strong {
  font-weight: bold; 
}


#tab_page_buttons, 
#title {
  display: flex;
  justify-content: space-evenly; 
}


#loading_spinner {
  position: absolute; 
  top: 0;
  left: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.3); 
}

#loading_spinner > div {
  width: 8rem; 
  height: 8rem; 
}

.font-size-13 {
  font-size: 13pt; 
}

.font-size-14 {
  font-size: 14pt; 
}

.font-size-16,
.description_title {
  font-size: 16pt; 
}

.font-size-20 {
  font-size: 20pt; 
}

.font-size-40 {
  font-size: 40pt; 
}


#tab_page_buttons {
  padding-bottom: 50px; 
}

#tab_page_buttons button {
  padding-left: 10px; 
  padding-right: 10px; 
  text-align: center;

  border: 1px solid rgb(240, 240, 240); 
  
  background: rgba(0, 0, 0, 0); 
  color: rgb(40, 90, 130);   
  font-size: 16pt; 
}

#tab_page_buttons button::after {
  content: "";
  position: absolute; 
  visibility: hidden;
  opacity: 0;

  height: 100%; 
  width: 100%; 
  top: 0; 
  left: 0; 
  border: 3px solid rgb(240, 240, 240); 


  -webkit-transition: visibility 0s .15s, opacity .15s linear;
  -moz-transition:    visibility 0s .15s, opacity .15s linear;
  -o-transition:      visibility 0s .15s, opacity .15s linear;
  transition:         visibility 0s .15s, opacity .15s linear;
}

#tab_page_buttons button:hover {
  color: rgb(215, 220, 225);
}

#tab_page_buttons button:hover::after,
#tab_page_buttons button.tab_selected::after {
  visibility: visible;
  opacity: 1;  
  
  -webkit-transition: opacity .15s linear;
  -moz-transition:    opacity .15s linear;
  -o-transition:      opacity .15s linear;
  transition:         opacity .15s linear;
}

#tab_page_buttons button:focus,
#tab_page_buttons button:active,
#tab_page_buttons button:active:focus {
  outline: none; 
  box-shadow: none; 
}


.page_gutter {
  padding: 0 15px; 
}

.description_container {
  padding: 10px; 
  background-clip: padding-box; 
  border-left: 10px solid transparent; /* used as margin-left but without wrapping */
}

.corners_t {
  padding: 20px; 
}


.corners_t::before,
.corners_t::after,
.corners_b::before,
.corners_b::after,
.corners_l::before,
.corners_l::after,
.corners_r::before,
.corners_r::after {
  content: ""; 
  position: absolute; 
  background: rgb(215, 220, 225); 
}

.corners_t::before,
.corners_t::after,
.corners_b::before,
.corners_b::after {
  height: 3px; 
  width: 15px;  
}

.corners_l::before,
.corners_l::after,
.corners_r::before,
.corners_r::after {
  height: 15px; 
  width: 3px;  
}

.corners_t::before {
  top: 0; 
  left: 0;
}

.corners_t::after {
  top: 0; 
  right: 0; 
}

.corners_b::before {
  bottom: 0; 
  left: 0; 
}

.corners_b::after {
  bottom: 0; 
  right: 0; 
}

.corners_l::before {
  top: 0; 
  left: 0; 
}

.corners_l::after {
  bottom: 0; 
  left: 0; 
}

.corners_r::before {
  top: 0; 
  right: 0; 
}

.corners_r::after {
  bottom: 0; 
  right: 0; 
}

/**********************************/
/*       PAYDAY-STYLE TABLE       */
/**********************************/

table {
  border-collapse: collapse;
  width: 100%;
}

tr, th, td {
  color: #fefefe;
  text-align: center;
}

th:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.45);
}

#table_head {
  background-color: rgba(0, 0, 0, 0.7);
}
