/* hi  */ 

html {
  /**
    * I can finally use em like a real man 
    * This constraints the font size from a minimum to a maximum (floor and ceiling cap)
    * Parameters are: max font size - min font size, and min-max viewport width to use the max font sizes at 
    */
  font-size: calc(12px + (26 - 12) * ((100vw - 300px) / (1000 - 300)));
}

button { 
  font-size: inherit; 
}

body {
  background: rgb(11, 11, 21) url("../img/bg.png"); 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01); /* Font "antialiasing" */
  color: rgb(240, 240, 240); 
  font-family: 'Noto Sans', sans-serif;
}

body > div {
  font-family: "DINEngschrift", "Noto Sans", sans-serif; 
}


nav.navbar {
  height: 8%; 
  padding-top: 1vh; 
  padding-bottom: 1vh; 
}

nav.navbar a.navbar-brand {
  font-size: 1em; 
}

nav.navbar button.navbar-toggler {
  margin: auto 15px auto 0; 
  height: 80%; 
}

nav.navbar .navbar-toggler-icon {
  width: 1em !important; 
  height: 1em !important;  
}

nav.navbar ul {
  align-items: center; 
}

select {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 82px; 
  height: 30px; 
  padding: 2px 8px;
  outline: none;
  color: rgb(40, 40, 40);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px rgb(215, 220, 225);
  background: rgb(240, 240, 240) url("../img/dropdown-arrow.png") 95% / 15% no-repeat;  
}

#title {
  display: flex;
  justify-content: space-evenly; 
  
  height: 8%; 
  padding: 1vh 0;
  
  font-size: 1.5em; 
}

#title p {
  margin: auto 0; 
  padding: 0; 
}

.page_gutter {
  padding: 0 15px; 
}

#sk_tree_buttons {
  height: 8%;  
  padding: 1vh 5vw; 
}

#sk_tree_buttons .dropdown-menu {
  z-index: 5000; 
  width: 60%; 
  text-align: center; 

  top: 75% !important; 
  left: 50% !important; 
  
  transform: translate3d(-50%, 0%, 0px) !important; 
}

#tab_skills_page {
  width: 100%; 
  padding: 0 3vw; 
}

#sk_container_l {
  position: relative; 
  width: 100%; 
  padding: 0 10px; 

  border-image: url("../img/borders/skill_border.png") 3 15 repeat;
  border-top: 3px solid transparent; 
  border-bottom: 3px solid transparent; 
}

#sk_container_l::before,
#sk_container_l::after,
#sk_container_r::before,
#sk_container_r::after {
  content: ""; 
  position: absolute; 
  height: 15px; 
  width: 3px;  
}

#sk_container_l::before {
  top: 0; 
  left: 0; 
  background: url("../img/borders/corner-topleft.png") no-repeat; 
}
 
#sk_container_l::after {
  bottom: 0; 
  left: 0; 
  background: url("../img/borders/corner-bottomleft.png") no-repeat; 
}

#sk_container_r::before {
  top: 0; 
  right: 0; 
  background: url("../img/borders/corner-topright.png") no-repeat; 
}

#sk_container_r::after {
  bottom: 0; 
  right: 0; 
  background: url("../img/borders/corner-bottomright.png") no-repeat; 
}


.sk_tree {
  display: flex; 
  flex-flow: column nowrap; 
  justify-content: space-evenly; 
}

.sk_subtree {
  display: flex; 
  flex-flow: row nowrap; 
  justify-content: space-evenly; 

  background:         url("../img/skills/background-90deg.png") 0 0 no-repeat;
  background-size:    25% 100%;  

  max-height: 33%; 
  
  margin: 3px 0;

  -webkit-transition: background-size 0.4s ease;
  -moz-transition:    background-size 0.4s ease;
  -o-transition:      background-size 0.4s ease;
  transition:         background-size 0.4s ease;
}

.sk_tier {
  position: relative; 
  
  flex-basis: 25%; 
  
  display: flex; 
  flex-flow: column nowrap; 
  justify-content: space-evenly; 
}

.sk_tier:not(:last-child) {
  border-right: 1px solid rgb(40, 100, 140); 
}

.sk_tier:not(:last-child)::before,
.sk_tier:not(:last-child)::after {
  content: ""; 
  position: absolute; 
  border-left: 2px solid white; 
  width: 2px; 
  height: 8%; 
}

.sk_tier:not(:last-child)::before {
  top: 0; 
  right: 0; 
}

.sk_tier:not(:last-child)::after {
  bottom: 0;
  right: 0; 
}

.sk_tier > div {
  position: relative; 

  display: flex; 
  flex-flow: column nowrap; 
  justify-content: center;  
  align-items: center; 

  width: 100%; 
  height: 100%; 
}

.sk_icon {
  display: flex; 
  flex-flow: column nowrap; 
  justify-content: space-around;

  

  width: 75%; 
  background-position: center center; 
}

.sk_icon > div {
  position: relative; 
  display: block; 
  z-index: 1200; 

  background: url("../img/skills/icons_atlas.png") 0 0 no-repeat;
  background-size: 1200% 1300%; 
  opacity: 1; 

  width: 100%;
  height: 0;
  padding-bottom: 100%;

  -webkit-transition: opacity .2s ease, transform .3s ease, -webkit-filter .3s ease, filter .3s ease;
  -moz-transition:    opacity .2s ease, transform .3s ease, -webkit-filter .3s ease, filter .3s ease;
  -o-transition:      opacity .2s ease, transform .3s ease, -webkit-filter .3s ease, filter .3s ease;
  transition:         opacity .2s ease, transform .3s ease, -webkit-filter .3s ease, filter .3s ease;
}

.sk_name {
  position: relative; 
  display: block; 

  margin: 0 5px; 

  font-size: 0.9em; 
  line-height: 1em; 

  -webkit-transition: color .2s ease;
  -moz-transition:    color .2s ease;
  -o-transition:      color .2s ease;
  transition:         color .2s ease;
}


/* MASTERMIND */

/* Medic */
#combat_medic {
  background-position: calc((400% / (960 - 80)) * 100) calc((560% / (1040 - 80)) * 100);  
}
#quick_fix {
  background-position: calc((80% / (960 - 80)) * 100) calc((880% / (1040 - 80)) * 100);
}
#painkillers {
  background-position: 0% calc((800% / (1040 - 80)) * 100);
}
#uppers {
  background-position: calc((160% / (960 - 80)) * 100) calc((880% / (1040 - 80)) * 100);
}
#combat_doctor {
  background-position: calc((400% / (960 - 80)) * 100) calc((640% / (1040 - 80)) * 100);
}
#inspire {
  background-position: calc((320% / (960 - 80)) * 100) calc((720% / (1040 - 80)) * 100);
}

/* Controller */
#forced_friendship {
  background-position: calc((320% / (960 - 80)) * 100) calc((560% / (1040  - 80)) * 100); 
}
#confident {
  background-position: calc((160% / (960 - 80)) * 100) calc((640% / (1040  - 80)) * 100); 
}
#joker {
  background-position: calc((480% / (960 - 80)) * 100) calc((640% / (1040  - 80)) * 100); 
}
#stockholm_syndrome {
  background-position: calc((240% / (960 - 80)) * 100) calc((640% / (1040  - 80)) * 100); 
}
#partners_in_crime {
  background-position: calc((80% / (960 - 80)) * 100) calc((800% / (1040 - 80)) * 100); 
}
#hostage_taker {
  background-position: calc((160% / (960 - 80)) * 100) calc((800% / (1040 - 80)) * 100); 
}

/* Sharpshooter */
#stable_shot {
  background-position: 0% calc((400% / (1040 - 80)) * 100); 
}
#rifleman {
  background-position: calc((480% / (960 - 80)) * 100) calc((400% / (1040 - 80)) * 100); 
}
#marksman {
  background-position: calc((640% / (960 - 80)) * 100) calc((80% / (1040 - 80)) * 100); 
}
#ammo_efficiency {
  background-position: calc((640% / (960 - 80)) * 100) calc((320% / (1040 - 80)) * 100); 
}
#aggressive_reload {
  background-position: calc((640% / (960 - 80)) * 100) calc((240% / (1040 - 80)) * 100); 
}
#graze {
  background-position: calc((880% / (960 - 80)) * 100) calc((720% / (1040 - 80)) * 100);
}


/* ENFORCER */

/* Shotgunner */
#underdog {
  background-position: calc((160% / (960 - 80)) * 100) calc((80% / (1040 - 80)) * 100); 
}
#shotgun_cqb {
  background-position: calc((640% / (960 - 80)) * 100) calc((560% / (1040 - 80)) * 100); 
}
#shotgun_impact {
  background-position: calc((320% / (960 - 80)) * 100) calc((80% / (1040 - 80)) * 100); 
}
#far_away {
  background-position: calc((640% / (960 - 80)) * 100) calc((400% / (1040 - 80)) * 100); 
}
#close_by {
  background-position: calc((640% / (960 - 80)) * 100) calc((480% / (1040 - 80)) * 100); 
}
#overkill {
  background-position: calc((240% / (960 - 80)) * 100) calc((160% / (1040 - 80)) * 100); 
}

/* Tank */
#resilience {
  background-position: calc((160% / (960 - 80)) * 100) calc((960% / (1040 - 80)) * 100); 
}
#die_hard {
  background-position: calc((640% / (960 - 80)) * 100) calc((720% / (1040 - 80)) * 100); 
}
#transporter {
  background-position: calc((640% / (960 - 80)) * 100) calc((640% / (1040 - 80)) * 100); 
}
#shock_and_awe {
  background-position: calc((640% / (960 - 80)) * 100) calc((800% / (1040 - 80)) * 100); 
}
#bullseye {
  background-position: calc((480% / (960 - 80)) * 100) calc((880% / (1040 - 80)) * 100); 
}
#iron_man {
  background-position: calc((240% / (960 - 80)) * 100) calc((80% / (1040 - 80)) * 100); 
}

/* Ammo Specialist */
#scavenger {
  background-position: calc((640% / (960 - 80)) * 100) calc((880% / (1040 - 80)) * 100); 
}
#bulletstorm {
  background-position: calc((320% / (960 - 80)) * 100) calc((400% / (1040 - 80)) * 100); 
}
#portable_saw {
  background-position: 0% calc((80% / (1040 - 80)) * 100); 
}
#extra_lead {
  background-position: calc((560% / (960 - 80)) * 100) calc((80% / (1040 - 80)) * 100); 
}
#saw_massacre {
  background-position: 0% calc((160% / (1040 - 80)) * 100); 
}
#fully_loaded { 
  background-position: calc((240% / (960 - 80)) * 100) 0%;
}


/* TECHNICIAN */

/* Engineer */
#third_law {
  background-position: calc((720% / (960 - 80)) * 100) 0%; 
}
#sentry_targeting_package {
  background-position: calc((720% / (960 - 80)) * 100) calc((80% / (1040 - 80)) * 100); 
}
#eco_sentry {
  background-position: calc((720% / (960 - 80)) * 100) calc((160% / (1040 - 80)) * 100); 
}
#engineering {
  background-position: calc((720% / (960 - 80)) * 100) calc((240% / (1040 - 80)) * 100); 
}
#jack_of_all_trades {
  background-position: calc((720% / (960 - 80)) * 100) calc((320% / (1040 - 80)) * 100); 
}
#tower_defense {
  background-position: calc((720% / (960 - 80)) * 100) calc((400% / (1040 - 80)) * 100); 
}

/* Breacher */
#hardware_expert {
  background-position: calc((720% / (960 - 80)) * 100) calc((480% / (1040 - 80)) * 100); 
}
#combat_engineering {
  background-position: calc((80% / (960 - 80)) * 100) calc((400% / (1040 - 80)) * 100); 
}
#drill_sawgeant {
  background-position: calc((240% / (960 - 80)) * 100) calc((480% / (1040 - 80)) * 100); 
}
#more_firepower {
  background-position: calc((720% / (960 - 80)) * 100) calc((560% / (1040 - 80)) * 100); 
}
#kickstarter {
  background-position: calc((720% / (960 - 80)) * 100) calc((640% / (1040 - 80)) * 100); 
}
#fire_trap {
  background-position: calc((720% / (960 - 80)) * 100) calc((720% / (1040 - 80)) * 100); 
}

/* Oppressor */
#steady_grip {
  background-position: calc((720% / (960 - 80)) * 100) calc((880% / (1040 - 80)) * 100); 
}
#heavy_impact {
  background-position: calc((800% / (960 - 80)) * 100) calc((80% / (1040 - 80)) * 100); 
}
#fire_control {
  background-position: calc((720% / (960 - 80)) * 100) calc((800% / (1040 - 80)) * 100); 
}
#lock_n_load {
  background-position: calc((800% / (960 - 80)) * 100) 0%; 
}
#surefire {
  background-position: calc((800% / (960 - 80)) * 100) calc((160% / (1040 - 80)) * 100); 
}
#body_expertise {
  background-position: calc((800% / (960 - 80)) * 100) calc((240% / (1040 - 80)) * 100); 
}


/* GHOST */

/* Shinobi */
#chameleon {
  background-position: calc((400% / (960 - 80)) * 100) calc((240% / (1040 - 80)) * 100); 
}
#cleaner {
  background-position: calc((560% / (960 - 80)) * 100) calc((160% / (1040 - 80)) * 100); 
}
#sixth_sense {
  background-position: calc((480% / (960 - 80)) * 100) calc((800% / (1040 - 80)) * 100); 
}
#nimble {
  background-position: calc((800% / (960 - 80)) * 100) calc((320% / (1040 - 80)) * 100); 
}
#ecm_overdrive {
  background-position: calc((480% / (960 - 80)) * 100) calc((240% / (1040 - 80)) * 100); 
}
#ecm_specialist {
  background-position: calc((240% / (960 - 80)) * 100) calc((320% / (1040 - 80)) * 100); 
}

/* Artful Dodger */
#duck_and_cover {
  background-position: calc((800% / (960 - 80)) * 100) calc((400% / (1040 - 80)) * 100); 
}
#parkour {
  background-position: calc((800% / (960 - 80)) * 100) calc((480% / (1040 - 80)) * 100); 
}
#inner_pockets {
  background-position: calc((800% / (960 - 80)) * 100) calc((560% / (1040 - 80)) * 100); 
}
#dire_need {
  background-position: calc((800% / (960 - 80)) * 100) calc((640% / (1040 - 80)) * 100); 
}
#shockproof {
  background-position: calc((240% / (960 - 80)) * 100) calc((400% / (1040 - 80)) * 100); 
}
#sneaky_bastard {
  background-position: calc((80% / (960 - 80)) * 100) calc((960% / (1040 - 80)) * 100); 
}

/* Silent Killer */
#second_wind {
  background-position: calc((800% / (960 - 80)) * 100) calc((720% / (1040 - 80)) * 100); 
}
#optical_illusions {
  background-position: calc((800% / (960 - 80)) * 100) calc((800% / (1040 - 80)) * 100); 
}
#the_professional {
  background-position: calc((320% / (960 - 80)) * 100) calc((320% / (1040 - 80)) * 100); 
}
#low_blow {
  background-position: 0% calc((960% / (1040 - 80)) * 100); 
}
#high_value_target {
  background-position: calc((640% / (960 - 80)) * 100) calc((160% / (1040 - 80)) * 100); 
}
#unseen_strike {
  background-position: calc((800% / (960 - 80)) * 100) calc((880% / (1040 - 80)) * 100); 
}


/* FUGITIVE */

/* Gunslinger */
#equilibrium {
  background-position: calc((240% / (960 - 80)) * 100) calc((720% / (1040 - 80)) * 100); 
}
#gun_nut {
  background-position: calc((880% / (960 - 80)) * 100) 0%; 
}
#akimbo {
  background-position: calc((240% / (960 - 80)) * 100) calc((880% / (1040 - 80)) * 100); 
}
#one_handed_talent {
  background-position: calc((560% / (960 - 80)) * 100) calc((880% / (1040 - 80)) * 100); 
}
#desperado {
  background-position: calc((880% / (960 - 80)) * 100) calc((80% / (1040 - 80)) * 100); 
}
#trigger_happy {
  background-position: calc((880% / (960 - 80)) * 100) calc((160% / (1040 - 80)) * 100); 
}

/* Revenant */
#nine_lives {
  background-position: calc((400% / (960 - 80)) * 100) calc((160% / (1040 - 80)) * 100); 
}
#running_from_death {
  background-position: calc((880% / (960 - 80)) * 100) calc((240% / (1040 - 80)) * 100); 
}
#up_you_go {
  background-position: calc((880% / (960 - 80)) * 100) calc((320% / (1040 - 80)) * 100); 
}
#swan_song {
  background-position: calc((400% / (960 - 80)) * 100) calc((960% / (1040 - 80)) * 100); 
}
#feign_death {
  background-position: calc((880% / (960 - 80)) * 100) calc((400% / (1040 - 80)) * 100); 
}
#messiah {
  background-position: calc((160% / (960 - 80)) * 100) calc((720% / (1040 - 80)) * 100); 
}

/* Brawler */
#martial_arts {
  background-position: calc((880% / (960 - 80)) * 100) calc((560% / (1040 - 80)) * 100); 
}
#bloodthirst {
  background-position: calc((880% / (960 - 80)) * 100) calc((480% / (1040 - 80)) * 100); 
}
#pumping_iron {
  background-position: calc((80% / (960 - 80)) * 100) calc((240% / (1040 - 80)) * 100); 
}
#counterstrike {
  background-position: calc((320% / (960 - 80)) * 100) calc((960% / (1040 - 80)) * 100); 
}
#berserker {
  background-position: calc((160% / (960 - 80)) * 100) calc((160% / (1040 - 80)) * 100); 
}
#frenzy {
  background-position: calc((880% / (960 - 80)) * 100) calc((640% / (1040 - 80)) * 100); 
}
