/**********************************/
/*          THROWABLES CSS        */
/**********************************/

.th_icon {
  display: inline-block; 
  border: 3px solid transparent; 
}

.th_icon > div {
  position: relative;
  z-index: -1;
  min-width: 256px;
  min-height: 128px;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transform: scale(0.65);
  background-repeat: no-repeat; 
  background-position: center center; 
}

.th_icon:not(.th_locked):hover > div {
  transform: scale(0.85);
}

.th_icon.th_locked {
  background: url("/img/lock_skill.png") no-repeat center center;
}

.th_icon.th_locked > div {
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2);
}

.th_icon.th_selected {
  border: 3px solid rgb(240, 240, 240); 
}

.th_icon.th_selected > div {
  transform: scale(0.85);
}

.th_icon.th_selected > div::before {
  content: 'EQUIP.'; 
  font-size: 16pt; 

  position: absolute; 
  top: 10px;
  left: 10px;
}


#matryushka_grenade {
  background-image: url("/img/throwables/matryushka_grenade.png"); 
}

#incendiary_grenade {
  background-image: url("/img/throwables/incendiary_grenade.png"); 
}

#hef_frag_grenade {
  background-image: url("/img/throwables/hef_frag_grenade.png"); 
}

#ace_of_spades {
  background-image: url("/img/throwables/ace_of_spades.png"); 
}

#concussion_grenade {
  background-image: url("/img/throwables/concussion_grenade.png"); 
}

#frag_grenade {
  background-image: url("/img/throwables/frag_grenade.png"); 
}

#molotov {
  background-image: url("/img/throwables/molotov.png"); 
}

#dynamite {
  background-image: url("/img/throwables/dynamite.png"); 
}

#shuriken {
  background-image: url("/img/throwables/shuriken.png"); 
}

#javelin {
  background-image: url("/img/throwables/javelin.png"); 
}

#throwing_knife {
  background-image: url("/img/throwables/throwing_knife.png"); 
}

#throwing_axe {
  background-image: url("/img/throwables/throwing_axe.png"); 
}

#stoic_hip_flask {
  background-image: url("/img/throwables/stoic_hip_flask.png"); 
}

#pocket_ecm {
  background-image: url("/img/throwables/pocket_ecm.png"); 
}

#smoke_bomb {
  background-image: url("/img/throwables/smoke_bomb.png"); 
}

#gas_dispenser {
  background-image: url("/img/throwables/gas_dispenser.png"); 
}

#injector {
  background-image: url("/img/throwables/injector.png"); 
}